.table {
    margin: 20px 50px;
    overflow: hidden;
}

.heading {
    color: #000;
    font-family: "Sofia Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: end;
    margin-right: 50px;

}

.filter-part {
    display: flex;
    gap: 20px;
    flex-direction: row;

}

.menu-list {
    position: absolute;
    top: 49%;
    left: 1025px;
    min-width: 160px;
    background: var(--surface-ground);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
    padding: 0.30rem 0.5rem;
    list-style: none;
    margin: 0;
    background: white;
}

.menu-list li {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 14px;
}


.menu-list .list:hover {
  background-color: #eee;
  border-radius: 20px;
}

.menu-list .list.active {
  background-color: #d0ebff; 
  font-weight: bold;
  color:black;
  border-radius: 20px;
}


::ng-deep .p-datatable .p-datatable-thead>tr>th:first-child {
    border-top-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:last-child {
    border-top-right-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:first-child {
    border-bottom-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:last-child {
    border-bottom-right-radius: 10px;
}

::ng-deep .pi-filter {
    border-radius: 8px;
    border: 1px solid #C3C3C3;
    background: transparent;
    color: #767676;
    display: flex;
    width: 42px;
    height: 42px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-shrink: 0;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
    background: #E8ECEF;
   color: #666;
    font-family: "Sofia Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 20px 30px;

}

::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    color: #2B2B2B;
    font-family: "Sofia Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    background: transparent;
    border-bottom: 2px solid #D9D9D9;
    padding: 20px 30px;
}


::ng-deep .table .p-paginator-pages {
    gap: 20px;
}

::ng-deep .p-paginator .p-paginator-page {
    width: 40px;
    height: 40px;
    line-height: 26px;
    padding: 0;
    text-align: center;
    border-radius: 8px;
    background-color:transparent;
    color: #333;
    font-weight: 600;
    font-size: 13px;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

/* Active page */
::ng-deep .p-paginator-page.p-paginator-page-selected {
    background: #E9144A !important;
    color: white !important;
}
::ng-deep .p-paginator-page.p-paginator-page-selected {
    background: #E9144A !important;
    color: white !important;
    border-radius: 8px;
    font-weight: bold;
}

/* Optional: center paginator */
::ng-deep .p-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 1rem;
    background: transparent;
}


