<p-card class="leave-request">
    <div class="table-header">
        <h3>Shift Change Requests</h3>
    </div>

    <p-table [value]="approvals">

        <ng-template pTemplate="header">
            <tr>
                <th>No.</th>
                <th>Employee</th>
                <th>Requested By</th>
                <th>Mode</th>
                <th>Shift / Pattern</th>
                <th>Start</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-a let-i="rowIndex">
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ a.employee.firstName }} {{ a.employee.lastName }}</td>
                <td>{{ a.requestedByEmployee.firstName }}</td>
                <td>{{ a.requestedMode }}</td>
                <td>
                    {{ a.fixedShift?.name || a.pattern?.name }}
                </td>
                <td>{{ a.startDate | date }}</td>
                <!-- <td>
                    <p-tag [value]="getShiftStatusLabel(a)"></p-tag>

                </td> -->
                <td>
                    <p-tag [value]="getShiftStatusLabel(a)" [severity]="getShiftStatusSeverity(a)"
                        *ngIf="!getRejectReason(a)">
                    </p-tag>

                    <p-tag [value]="getShiftStatusLabel(a)" [severity]="getShiftStatusSeverity(a)"
                        *ngIf="getRejectReason(a)" [pTooltip]="getRejectReason(a)" tooltipPosition="top">
                    </p-tag>

                </td>

                <!-- <td>
          <button pButton icon="pi pi-check" (click)="approve(a)"></button>
          <button pButton icon="pi pi-times" class="p-button-danger" (click)="reject(a)"></button>
        </td> -->
                <td>
                    <div class="btns">

                        <!-- LEVEL 1 (RM) -->
                        <!-- <button *ngIf="showShiftLevel1Approve(a)" class="btn-1 btn" (click)="approveShift(a, 'LEVEL1')">
                            Approve
                        </button> -->

                        <!-- <button *ngIf="showShiftLevel1Approve(a)" class="btn-2 btn" (click)="rejectShift(a, 'LEVEL1')">
                            Decline
                        </button> -->
                        <!-- <button *ngIf="showShiftLevel1Approve(a)" class="btn-2 btn"
                            (click)="openDeclineDialog(a.id, 'LEVEL1')">
                            Decline
                        </button> -->
                        <!-- <button pButton label="Approve" *ngIf="showShiftLevel1Approve(a)"
                            [loading]="loadingAction[a.id + '_LEVEL1']" [disabled]="loadingAction[a.id + '_LEVEL1']"
                            (click)="approveShift(a, 'LEVEL1')">
                        </button> -->
                        <button *ngIf="showShiftLevel1Approve(a)" class="btn btn-1"
                            [disabled]="loadingAction[a.id + '_LEVEL1']" (click)="approveShift(a, 'LEVEL1')">

                            <span *ngIf="!loadingAction[a.id + '_LEVEL1']">Approve</span>
                            <span *ngIf="loadingAction[a.id + '_LEVEL1']" class="btn-spinner"></span>

                        </button>


                        <!-- <button pButton label="Decline" class="p-button-danger" *ngIf="showShiftLevel1Approve(a)"
                            [loading]="loadingAction[a.id + '_LEVEL1']" [disabled]="loadingAction[a.id + '_LEVEL1']"
                            (click)="openDeclineDialog(a.id, 'LEVEL1')">
                        </button> -->
                        <button *ngIf="showShiftLevel1Approve(a)" class="btn-2 btn"
                            (click)="openDeclineDialog(a.id, 'LEVEL1')">
                            Decline
                        </button>


                        <!-- LEVEL 2 (HR) -->
                        <!-- <button *ngIf="showShiftLevel2Approve(a)" class="btn-1 btn" (click)="approveShift(a, 'LEVEL2')">
                            Approve
                        </button> -->

                        <!-- <button *ngIf="showShiftLevel2Approve(a)" class="btn-2 btn" (click)="rejectShift(a, 'LEVEL2')">
                            Decline
                        </button> -->
                        <!-- <button *ngIf="showShiftLevel2Approve(a)" class="btn-2 btn"
                            (click)="openDeclineDialog(a.id, 'LEVEL2')">
                            Decline
                        </button> -->

                        <!-- <button pButton label="Approve" *ngIf="showShiftLevel2Approve(a)"
                            [loading]="loadingAction[a.id + '_LEVEL2']" [disabled]="loadingAction[a.id + '_LEVEL2']"
                            (click)="approveShift(a, 'LEVEL2')">
                        </button> -->
                        <button *ngIf="showShiftLevel2Approve(a)" class="btn btn-1"
                            [disabled]="loadingAction[a.id + '_LEVEL2']" (click)="approveShift(a, 'LEVEL2')">

                            <span *ngIf="!loadingAction[a.id + '_LEVEL2']">Approve</span>
                            <span *ngIf="loadingAction[a.id + '_LEVEL2']" class="btn-spinner"></span>

                        </button>


                        <!-- <button pButton label="Decline" class="p-button-danger" *ngIf="showShiftLevel2Approve(a)"
                            [loading]="loadingAction[a.id + '_LEVEL2']" [disabled]="loadingAction[a.id + '_LEVEL2']"
                            (click)="openDeclineDialog(a.id, 'LEVEL2')">
                        </button> -->
                        <button *ngIf="showShiftLevel2Approve(a)" class="btn-2 btn"
                            (click)="openDeclineDialog(a.id, 'LEVEL2')">
                            Decline
                        </button>

                        <button *ngIf="a.requestedMode === 'ROTATIONAL'" class="btn btn-info"
                            (click)="openPatternDialog(a)">
                            View Details
                        </button>


                    </div>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" style="text-align:center; color: #fff;">
                    <!-- <p-tag severity="info" value="No Shift Change Requests Found"></p-tag> -->
                    No Shift Change Requests Found
                </td>
            </tr>
        </ng-template>

    </p-table>
</p-card>


<div class="custom-popup" *ngIf="declineDialogVisible">
    <div class="popup-content">
        <h3>Shift Request Decline Reason</h3>
        <hr>
        <textarea placeholder="Type your reason here..." [(ngModel)]="declineReason" rows="4"></textarea>

        <!-- <div class="popup-actions">
            <button class="btn btn-green" (click)="confirmDecline()">Decline</button>
            <button class="btn btn-red" (click)="closeDeclineDialog()">Cancel</button>
        </div> -->
        <div class="popup-actions">
            <button class="btn btn-green" [disabled]="declineSubmitting" (click)="confirmDecline()">

                <span *ngIf="!declineSubmitting">Decline</span>

                <span *ngIf="declineSubmitting" class="btn-spinner"></span>
            </button>

            <button class="btn btn-red" [disabled]="declineSubmitting" (click)="closeDeclineDialog()">
                Cancel
            </button>
        </div>


    </div>
</div>

<p-dialog header="Request Shift Change" [(visible)]="patternDialogVisible" [modal]="true" [style]="{ width: '650px' }"
    [closable]="false" class="shift-dialog">

    <ng-template pTemplate="header">
        <div class="dialog-header-custom">
            <span>Request Shift Change</span>
            <button class="dialog-close-btn" (click)="closePatternDialog()">✕</button>
        </div>
    </ng-template>

    <!-- Month -->
    <div class="month-header">
        <label>Select Month</label>
        <input type="text" class="month-input" [value]="selectedMonthLabel" readonly />
    </div>

    <!-- Weeks -->
    <div class="weeks-container">
        <div *ngFor="let week of weekWisePattern; let i = index" class="week-card">

            <div class="week-title">
                <span class="week-badge">Week {{ i + 1 }}</span>
                <span class="week-dates">
                    {{ week.start | date:'dd MMM yyyy' }} –
                    {{ week.end | date:'dd MMM yyyy' }}
                </span>
            </div>

            <div *ngIf="week.shift; else noShift" class="shift-pill" [class.prev]="week.fromPreviousMonth">
                <span class="shift-name">{{ week.shift.name }}</span>
                <span class="shift-time">
                    {{ formatISTTime(week.shift.startTime) }} –
                    {{ formatISTTime(week.shift.endTime) }}
                </span>
                <span *ngIf="week.fromPreviousMonth" class="carry-badge">
                    Previous month
                </span>
            </div>

            <ng-template #noShift>
                <div class="shift-pill empty">
                    No shift assigned
                </div>
            </ng-template>

        </div>
    </div>

</p-dialog>