.popup-container {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

.popup {
    position: relative;
    display: flex;
    width: 100%;
    padding: 20px;
    max-width: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #000;
}

::ng-deep .pi-times {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 11px;
    border-radius: 29px;
    background: #E5E5E5;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.heading {
    color: #fff;
    font-family: "Sofia Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.para {
    /* width: 385px; */
    color: #fff;
    text-align: center;
    font-family: "Sofia Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.btns {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.logout-btn {
    display: flex;
    height: 48px;
    width: 200px;
    color: white !important;
    padding: 14px 40px !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px !important;
    background: #E9144A !important;
    border: 1px solid #E9144A !important;
}

.Cancel-btn {
    border-radius: 8px;
    border: 1px solid #000 !important;
    background: #FFF !important;
    display: flex;
    width: 200px;
    padding: 14px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    color: #000 !important;
    height: 47px;
}

.Cancel-btn:hover {
    background: #FFF !important;
    border: 1px solid #000 !important;
    color: #000 !important;
}

@media (max-width:500px){
    .popup{
        width: 100%;
        padding: 20px;
        max-width: 300px;
    }
    .heading {
        color: #fff;
        font-family: "Sofia Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 20px;
    }
    
    .para {
        width: 385px;
        color: #fff;
        text-align: center;
        font-family: "Sofia Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
    .btns{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        gap: 10px;
    }
    .logout-btn, .Cancel-btn{
        width: 150px;
    }
}