<div class="card form-card" tabindex="0">
  <h2>Create Application</h2>

 <!-- <div *ngIf="loading" class="spinner-overlay">
    <p-progressSpinner></p-progressSpinner>
  </div> -->

  <!-- Form -->
  <form [formGroup]="form" (ngSubmit)="submit()">
    <label>
      <span>Job *</span>
      <select formControlName="jobId">
        <option [ngValue]="null">Select a job</option>
        <option *ngFor="let j of jobs" [ngValue]="j.id">{{ j.title }} (Dept #{{ j.departmentId }})</option>
      </select>
    </label>

    <fieldset formGroupName="candidate">
      <legend>Candidate</legend>
      <div class="grid">
        <div class="div">
          <label><span>Name *</span><input formControlName="name" placeholder="Full name" /></label>
          <small class="error" *ngIf="isInvalid('candidate.name')">Name is required</small>
        </div> 
        <div class="div">
          <label><span>Email *</span><input formControlName="email" placeholder="name@example.com" /></label>
          <small class="error" *ngIf="isInvalid('candidate.email')">Email is required</small>
        </div>
        <div class="div">
          <label><span>Phone</span><input formControlName="phone" type="number" placeholder="Phone Number" /></label>
          <small class="error" *ngIf="isInvalid('candidate.phone')">Phone Number is required </small>
        </div>
        <div class="div">
          <label><span>Higher Qualification</span><input formControlName="qualification"
              placeholder="Higher Qualification" /></label>
          <small class="error" *ngIf="isInvalid('candidate.qualification')">Higher Qualification is required</small>
        </div>
        <div class="div">
          <label><span>Experience (years)</span><input formControlName="experience" type="number" min="0"
              placeholder="Years of Experience" /></label>
          <small class="error" *ngIf="isInvalid('candidate.experience')">Experience is required</small>
        </div>
        <label><span>Source</span><input formControlName="source" placeholder="Referral / LinkedIn / ..." /></label>
        <label><span>Address</span><textarea formControlName="address" placeholder="Address"></textarea></label>
        <label class="wide"><span>Resume URL</span><input type="file" (change)="onFileSelected($event)"/></label>
      </div>
    </fieldset>

    <div class="actions">
      <button type="submit" [disabled]="saving">Create</button>
      <span class="error" *ngIf="error">{{ error }}</span>
    </div>
  </form>
</div>