.performance-container{
    padding: 20px 60px;
    --p-floatlabel-on-active-background:#000;
      --p-floatlabel-active-color:#ffff;
}

::ng-deep .p-inputtext, .p-textarea, .p-select{
    width: 100%;
    background-color: transparent !important;
    color: white !important;
}
.final{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.p-floatlabel.float-active label {
    top: -0.40rem;
    font-size: 0.75rem;
    background-color: #000;
    color: white !important;
  }

  label,
  .p-floatlabel{
    color: white;
  }

  h2, h3{
    color: white;
  }
  ::ng-deep .p-datatable {
    border: none;
    background: transparent;
  }
  
  /* Header Row */
  ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background: #fff;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 20px;
    border-bottom: none;
    height: 60px;
    text-align: left;
    text-wrap: nowrap;
    /* border-radius: 12px; */
  }
  ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child {
    border-top-left-radius: 10px;
  }
  
  ::ng-deep .p-datatable .p-datatable-thead > tr > th:last-child {
    border-top-right-radius: 10px;
  }
  
  ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child {
    border-bottom-left-radius: 10px;
  }
  
  ::ng-deep .p-datatable .p-datatable-thead > tr > th:last-child {
    border-bottom-right-radius: 10px;
  }
  
  /* Body Rows */
  ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    background: #000;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: left;
    border-bottom: 2px solid #d9d9d9;
    text-wrap: nowrap;
  }
  
  /* Disabled text inputs */
:host ::ng-deep .p-inputtext:disabled {
    background-color: #2d2d2d !important;  /* darker background */
    color: white !important;             /* gray text */
    border-color: #444 !important;
    opacity: 1 !important; /* override primeng's opacity */
  }
  
  /* Disabled dropdowns (p-select) */
  :host ::ng-deep .p-select.p-disabled {
    background-color: #2d2d2d !important;
    color: #9ca3af !important;
    border-color: #444 !important;
    opacity: 1 !important;
  }
  
  /* Dropdown label text when disabled */
  :host ::ng-deep .p-select.p-disabled .p-select-label {
    color: #9ca3af !important;
  }
  :host ::ng-deep .p-select-label{
    color: white !important;
  }
  :host ::ng-deep .p-inputtext{
    color: white !important;
  }
  :host ::ng-deep .p-select-label.p-placeholder{
    color: white !important;
  }
  :host ::ng-deep .p-textarea .p-textarea-label{
    color: white !important;
  }  
  .new-app {
    display: flex;
    /* width: 30%; */
    width: 200px;
    height: 44px;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #194B9B;
    color: #fff;
    font-family: "Sofia Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    border: none;
  }
  .sig-canvas {
    border: 1px solid #ccc;
    background: #fff;
    touch-action: none;    /* Required to draw on touch devices */
    cursor: crosshair;
    pointer-events: auto !important;
  }
  
  .disabled-canvas {
    opacity: 0.5;
    pointer-events: none !important;
  }
  .p-table-wrapper, .p-datatable-wrapper, .p-datatable-scrollable-body {
    pointer-events: auto !important;
  }
  .sig-action-row {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    justify-content: flex-end; /* Align to right */
  }
  .final-sign-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  
  .sig-label {
    font-weight: 600;
    margin-bottom: 4px;
  }
  
  .sig-canvas-1 {
    border: 1px solid #ccc;
    background: white;
    width: 100%;
    max-width: 350px;
    height: 130px;
    display: block;
    /* margin: 0 auto; center canvas */
  }
  
  .sig-action-row-1 {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 6px;
    max-width: 350px;
    /* margin-left: auto; align under canvas */
  }
  ::ng-deep .p-dialog {
    border-radius: 20px !important;
    background: #020403 !important;
    box-shadow: 3px 4px 100px 0 #3a1d4d !important;
    border: none !important;
    color: white !important;
    padding: 0 !important;
  }

  
  ::ng-deep .p-dialog .p-dialog-header {
    background: linear-gradient(96deg, #C160FF 0%, #E6CFFB 100%) !important;
    border-bottom: none !important;
    color: #020403;
    font-family: "Sofia Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    height: 70px !important;
  }
  .dialog-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
  }
  
  .dialog-close-btn {
    background: transparent;
    color: red;
    border: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }
  
  .dialog-close-btn:hover {
    background: red;
    color: white;
  }