/* General Reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Sofia Sans";
}

.pi {
  font-family: "primeicons";
}

.nav-bar-container {
  padding: 0 4rem;
}

/* Top Bar */
.header {
  background-color: #e8ecef;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  height: 119px;
}

hr {
  background: #d9d9d9;
  height: 2px;
  border: none;
  width: 100%;
}

.bell {
  width: 44px;
  height: 44px;
  border: 2px solid #C4C4C4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ADADAD;
}

.profile {
  display: flex;
  flex-direction: column;

}

.dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 200px;
}

.sub-heading {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.log-out-heading {
  color: #D20006;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.log-out {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.dropdown hr {
  margin-top: 10px;
}

.dropdown-profile,
.log-out {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.log-out {
  color: red;
}


/* Logo */
.logo {
  color: #000;
  font-feature-settings: "salt" on, "liga" off;
  font-family: "Sofia Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

.logo-red {
  color: #E9144A;
  font-feature-settings: "salt" on, "liga" off;
  font-family: "Sofia Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  /* 116.667% */
}

/* Main Navigation */
.main-nav {
  display: flex;
  gap: 2rem;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
  gap: 2rem;
  height: 64px;
  justify-content: flex-start;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 125px;
  gap: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
  color: #444;
  padding: 0.5rem 0.8rem;
  border-radius: 999px;
  transition: background 0.3s ease;
}

a {
  text-decoration: none;
  color: #444;
  display: flex;
  gap: 10px;
}

.nav-item:hover {
  background: #e0e0e0;
}

.nav-item.active {
  border-radius: 30px;
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(40, 21, 90, 0.35);
  height: 40px;
  width: 120px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0.6rem;
  border-radius: 40px;
  border: 2px solid #C4C4C4;
  cursor: pointer;
  height: 50px;
  position: relative;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Submenu */
.sub-nav {
  display: flex;
  background: #e8ecef;
  /* padding: 0.5rem 1.5rem; */
  height: 64px;
  /* border-bottom: 1px solid #ddd; */
}

.sub-nav ul {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  height: 64px;
}

.sub-item {
  cursor: pointer;
  padding-bottom: 0.2rem;
  color: #444;
  position: relative;
}

.sub-item.active {
  color: #E9144A;
  font-feature-settings: "salt" on, "liga" off;
  font-family: "Sofia Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}

.sub-item.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #E9144A;
}

.username {
  color: #000;
  font-family: "Sofia Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bell-icon {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

@media (max-width:800px) {
  nav {
    display: none;
  }

  .nav-bar-container {
    padding: 0;
  }
}