/* General Reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Sofia Sans";
}

.pi {
  font-family: "primeicons";
  color: black;
}

::ng-deep .pi-chevron-down,
::ng-deep .pi-chevron-up {
  font-size: 1rem;
}

.nav-bar-container {
  padding: 0 4rem;
}

/* Top Bar */
.header {
  background-color: #FFFFFF
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  height: 119px;
  /* margin-top: 50px; */
}

hr {
  background: #d9d9d9;
  height: 2px;
  border: none;
  width: 100%;
}

.bell {
  width: 50px;
  height: 50px;
  border: 2px solid #C4C4C4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ADADAD;
}

.profile {
  position: relative;
  display: inline-block;
  border: 2px solid #C4C4C4;
  border-radius: 40px;
  /* width: 100%; */
  height: 54px;
  background: transparent;
  /* padding: 5px; */
  transition: all 0.5s ease;
}

.profile.active {
  background: white;
  border-radius: 8px 8px 0 0;
  border: none;
  padding: 5px;
}

.dropdown {
  border-top: 1px solid #C4C4C4;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 0 0 8px 8px;
  border: none;
  transition: all 0.5s ease;
}

.dropdown.active {
  background: white;
  position: absolute;
  top: 100%;
  right: -5px;
  width: 181px;
  height: 100px;
  border-top: 1px solid #C4C4C4;

}

.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* padding: 2px 10px 0 2px; */
}

.sub-heading {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.log-out-heading {
  color: #D20006;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.log-out {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.dropdown-profile,
.log-out {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}




/* Logo */
.logo {
  color: #000;
  font-feature-settings: "salt" on, "liga" off;
  font-family: "Sofia Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

.logo-red {
  color: #E9144A;
  font-feature-settings: "salt" on, "liga" off;
  font-family: "Sofia Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  /* 116.667% */
}

/* Main Navigation */
/* .main-nav {
  display: flex;
  gap: 2rem;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
  gap: 2rem;
  height: 64px;
  justify-content: flex-start;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 125px;
  gap: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
  color: #444;
  padding: 0.5rem 0.8rem;
  border-radius: 999px;
  transition: background 0.3s ease;
} */
a {
  text-decoration: none;
  color: #444;
  display: flex;
  gap: 10px;
  font-size: 16px;
}

/* 

.nav-item:hover {
  background: #e0e0e0;
}

.nav-item.active {
  border-radius: 30px;
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(40, 21, 90, 0.35);
  height: 40px;
  width: 120px;
} */

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 20%;
}

.user-profile {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  position: relative;
  /* width: 100%; */
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Submenu */
.sub-nav {
  display: flex;
  background: #FFFFFF;
  /* padding: 0.5rem 1.5rem; */
  height: 64px;
  /* border-bottom: 1px solid #ddd; */
}

.sub-nav ul {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  height: 64px;
}

.sub-item {
  cursor: pointer;
  padding-bottom: 0.2rem;
  color: #444;
  position: relative;
}

.sub-item.active {
  color: #E9144A;
  font-feature-settings: "salt" on, "liga" off;
  font-family: "Sofia Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}

.sub-item.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #E9144A;
}

.username {
  color: #000;
  font-family: "Sofia Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bell-icon {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.main-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0;
}

/* .main-nav ul { list-style: none; padding: 0; margin: 0; display: flex;  } */
.nav-item {
  margin: 4px 0;
  cursor: pointer;
}

/* .nav-item > a { display: flex; gap: 8px; align-items: center; padding: 6px 10px; border-radius: 6px; text-decoration: none; }
.nav-item.active > a { background: #eef4ff; color: #0a58ca; }

.group .group-toggle {
  display: flex; align-items: center; gap: 8px;
  width: 100%; padding: 6px 10px; border: none; background: transparent; cursor: pointer;
  border-radius: 6px;
}
.group.open .group-toggle { background: #f7f9fc; }
.group .chevron { margin-left: auto; opacity: .6; }

.sub { margin-left: 8px; padding-left: 10px; border-left: 1px dashed #e5e7eb; }
.sub li a { padding: 6px 8px; display: flex; gap: 8px; align-items: center; border-radius: 4px; }
.sub li.active > a { background: #eef4ff; color: #0a58ca; } */

.main-headings {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.flex1 {
  display: flex;
  align-items: center;
  gap: 2rem;

}
.nav-item .active {
  display: inline-flex;
  height: 40px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0 2px 10px 0 rgba(40, 21, 90, 0.35);

}
.sub-headings{
  height:45px;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.nav-link{
  display: flex;
  align-items: center;
}



@media (max-width:800px) {
  nav {
    display: none;
  }

  .nav-bar-container {
    padding: 0;
  }
}