/* General Reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Sofia Sans";
}
.pi {
  font-family: "primeicons";
}

.nav-bar-container {
  padding: 0 4rem;
}

/* Top Bar */
.header {
  background-color: #e8ecef;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
    height: 119px;
}

hr {
  background: #d9d9d9;
  height: 2px;
  border: none;
  width: 100%;
}

/* Logo */
.logo {
  color: #000;
  font-feature-settings: "salt" on, "liga" off;
  font-family: "Sofia Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
.logo-red {
  color: #E9144A;
  font-feature-settings: "salt" on, "liga" off;
  font-family: "Sofia Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 116.667% */
}

/* Main Navigation */
.main-nav ul {
  display: flex;
  gap: 2rem;
  height: 64px;
  justify-content: flex-start;
  align-items: center;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 125px;
  gap: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
  color: #444;
  padding: 0.5rem 0.8rem;
  border-radius: 999px;
  transition: background 0.3s ease;
}
a{
  text-decoration: none;
  color: #444;
  display: flex;
  gap: 10px;
}
.nav-item:hover {
  background: #e0e0e0;
}
.nav-item.active {
  border-radius: 30px;
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(40, 21, 90, 0.35);
  height: 40px;
  width: 120px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  padding: 0.2rem 0.6rem;
  padding-left: 0;
  border-radius: 40px;
  border: 2px solid #C4C4C4;
  cursor: pointer;
  height: 50px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Submenu */
.sub-nav {
  display: flex;
  background: #e8ecef;
  /* padding: 0.5rem 1.5rem; */
  height: 64px;
  /* border-bottom: 1px solid #ddd; */
}
.sub-nav ul {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  height: 64px;
}
.sub-item {
  cursor: pointer;
  padding-bottom: 0.2rem;
  color: #444;
  position: relative;
}
.sub-item.active {
  color: #E9144A;
  font-feature-settings: "salt" on, "liga" off;
  font-family: "Sofia Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.sub-item.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #E9144A;
}
.username{
    color: #000;
font-family: "Sofia Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.bell-icon{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media (max-width:800px){
  nav{
    display: none;
  }
  .nav-bar-container{
    padding: 0;
  }
}