.employee-details {
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.employee-details label {
  font-weight: bold;
  color: white;
  margin-bottom: 4px;
  display: block;
}

.employee-details input[readonly] {
  background-color: transparent !important;
  color: #fff !important;
  font-weight: 500;
  border: 1px solid #ccc;
}

.employee-details input[readonly]::placeholder {
  color: #999;
}

.employee-details input{
  color: white !important;
}

.survey-container {
  padding: 50px;
}

::ng-deep .p-datatable-table {
  table-layout: fixed !important;
  /* ensures equal column layout */
  width: 100% !important;
}

::ng-deep .p-datatable-thead>tr>th,
::ng-deep .p-datatable-tbody>tr>td {
  text-align: left;
  white-space: normal;
  /* allow wrapping */
  /* word-wrap: break-word; */
}

/* Adjust specific column widths */
::ng-deep .p-datatable-thead>tr>th:nth-child(1),
::ng-deep .p-datatable-tbody>tr>td:nth-child(1) {
  width: 12% !important;
}

::ng-deep .p-datatable-thead>tr>th:nth-child(2),
::ng-deep .p-datatable-tbody>tr>td:nth-child(2) {
  width: 60% !important;
}

::ng-deep .p-datatable-thead>tr>th:nth-child(n+3),
::ng-deep .p-datatable-tbody>tr>td:nth-child(n+3) {
  width: 20% !important;
  text-align: center;
}

::ng-deep .p-panel {
  margin-top: 30px;
  border: none;
}

::ng-deep .p-panel-header {
  background: #000;
  border: none ;
  color: white;

  /* box-shadow: 0 .125rem .25rem rgba(29, 26, 26, 0.445); */
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
  border: none;
  border-bottom: 1px solid #D9D9D9;
  background: white;
  /* background: white; */

}

::ng-deep .p-datatable .p-datatable-tbody>tr>td {
  border: none;
  /* border-bottom: 2px solid #D9D9D9; */
  padding: 21px;
  background: white;
  color: black;
}


/* ::ng-deep .p-datatable .p-datatable-thead>tr>th:first-child {
  border-top-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:last-child {
  border-top-right-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:first-child {
  border-bottom-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:last-child {
  border-bottom-right-radius: 10px;
} */


::ng-deep .p-button {
  background-color: #0062A1;
  border-color: #0062A1;
  margin-top: 20px;
}

.p-button:hover {
  background-color: #0062A1;
  border-color: #0062A1;
}

::ng-deep .p-panel-content {
  box-shadow: 0 .125rem .25rem rgba(242, 232, 232, 0.445);
  border-radius: 10px;
}

.survey-container {
  --p-radiobutton-checked-background: #003366;
  --p-radiobutton-checked-hover-background: #003366;
  --p-radiobutton-hover-border-color: #003366;
  --p-radiobutton-checked-border-color: #003366;
  --p-radiobutton-checked-hover-border-color: #003366;
  --p-radiobutton-checked-focus-border-color: #003366;
  --p-radiobutton-icon-size: 0.8rem;
}


