<div class="leave-request">
    <div class="header">
        <div class="flex">
            <!-- Filter -->
            <div class="filter" id="filterButton" (click)="toggleFilterDropdown(); $event.stopPropagation()">
                <i class="pi pi-filter"></i>

                <ul class="menu-list" id="filterDropdown" *ngIf="showFilterDropdown">
                    <li class="list" *ngFor="let option of filterOptions"
                        (click)="selectFilter(option); $event.stopPropagation()"
                        [ngClass]="{ active: selectedFilter?.value === option.value }">
                        {{ option.label }}
                    </li>
                </ul>
            </div>

            <!-- Search -->
            <p-iconfield>
                <p-inputicon class="pi pi-search"></p-inputicon>
                <input id="searchBox" type="text" pInputText placeholder="Search" (input)="onSearch($event)" />
            </p-iconfield>

        </div>

    </div>

    <div class="table">
        <ng-container *ngIf="loading; else leaveTable">
            <p-table [value]="[1, 2, 3, 4, 5]" [scrollable]="true" scrollHeight="600px">
                <!-- Header -->
                <ng-template pTemplate="header">
                    <tr>
                        <th
                            *ngFor="let h of ['No','Name','Emp ID','Department','Title','Type','Dates','Reason','Status','Action']">
                            {{ h }}
                        </th>
                    </tr>
                </ng-template>

                <!-- Body -->
                <ng-template pTemplate="body">
                    <tr>
                        <td><p-skeleton width="2rem"></p-skeleton></td>

                        <td>
                            <div class="profile-skeleton">
                                <p-skeleton shape="circle" size="3rem" styleClass="profile-avatar"></p-skeleton>
                                <div class="profile-text">
                                    <p-skeleton width="90px" styleClass="mb-1"></p-skeleton>
                                    <p-skeleton width="60px"></p-skeleton>
                                </div>
                            </div>
                        </td>

                        <td><p-skeleton width="70px"></p-skeleton></td>
                        <td><p-skeleton width="90px"></p-skeleton></td>
                        <td><p-skeleton width="100px"></p-skeleton></td>
                        <td><p-skeleton width="60px"></p-skeleton></td>
                        <td><p-skeleton width="80px"></p-skeleton></td>
                        <td><p-skeleton width="100px"></p-skeleton></td>
                        <td><p-skeleton width="60px"></p-skeleton></td>
                        <td><p-skeleton width="80px"></p-skeleton></td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>



        <!-- ✅ Actual Leave Table once data loads -->
        <ng-template #leaveTable>
            <p-table [value]="filteredLeaveData" [paginator]="true" [rows]="10">
                <ng-template pTemplate="header">
                    <tr>
                        <th>No</th>
                        <th>Employee Name</th>
                        <th>Emp ID</th>
                        <th>Department</th>
                        <th>Job Title</th>
                        <th>Leave Type</th>
                        <th>Leave Dates</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-leaveData let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex + 1 }}</td>
                        <td class="empname">
                            <img class="image" src="/img.png" alt="" />
                            <div>
                                <div class="name">{{ leaveData.empName }}</div>
                                <span class="email">{{ leaveData.email }}</span>
                            </div>
                        </td>
                        <td>{{ leaveData.empId }}</td>
                        <td>
                            <span class="dept-badge" [ngStyle]="{
                  backgroundColor: getDepartmentColors(leaveData.department).badgeColor}">
                                <span class="dot" [ngStyle]="{
                    backgroundColor: getDepartmentColors(leaveData.department).dotColor}"></span>
                                {{ getDepartmentName(leaveData.department) }}
                            </span>
                        </td>
                        <td>{{ leaveData.jobTitle }}</td>
                        <td>{{ leaveData.leaveType }}</td>
                        <td>{{ leaveData.leaveDate }}</td>
                        <td>
                            <span [pTooltip]="leaveData.reson" tooltipPosition="top">
                                {{ leaveData.reson | slice: 0:20
                                }}<span *ngIf="leaveData.reson.length > 20">...</span>
                            </span>
                        </td>
                        <td>{{ getStatusLabel(leaveData) }}</td>
                        <td>
                            <div class="btns">
                                <!-- Manager -->
                                <ng-container *ngIf="role === 'Reporting Manager' || role === 'Manager'">
                                    <button *ngIf="leaveData.hodDecision === 'PENDING'" class="btn-1 btn"
                                        (click)="acceptLeave(leaveData.id, 'MANAGER')">
                                        Approve
                                    </button>
                                    <button *ngIf="leaveData.hodDecision === 'PENDING'" class="btn-2 btn"
                                        (click)="openDeclineDialog(leaveData.id, 'MANAGER')">
                                        Decline
                                    </button>
                                </ng-container>

                                <!-- HR -->
                                <ng-container *ngIf="isHR">
                                    <button
                                        *ngIf="leaveData.hodDecision === 'APPROVED' && leaveData.hrDecision === 'PENDING'"
                                        class="btn-1 btn" (click)="acceptLeave(leaveData.id, 'HR')">
                                        Approve
                                    </button>
                                    <button
                                        *ngIf="leaveData.hodDecision === 'APPROVED' && leaveData.hrDecision === 'PENDING'"
                                        class="btn-2 btn" (click)="openDeclineDialog(leaveData.id, 'HR')">
                                        Decline
                                    </button>
                                </ng-container>

                                <!-- Always -->
                                <button class="btn-3" (click)="openLeaveDetails(leaveData)">
                                    Leave Details
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10" class="no-data-message">
                            <i class="pi pi-info-circle"></i> No Leave requests found.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>
    </div>
</div>