.heading {
  font-size: 24px;
  font-weight: 600;
  color: white;
}


::ng-deep .p-datatable {
    border: none;
    background: transparent;
  }
  
  /* Header Row */
  ::ng-deep .p-datatable .p-datatable-thead>tr>th {
    background: #E8ECEF !important;
    color: black !important;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border: none !important;
    border-bottom: none;
    height: 60px;
    text-align: left;
    text-wrap: nowrap;
    /* border-radius: 12px; */
  }
  ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child {
    border-top-left-radius: 10px;
  }
  
  ::ng-deep .p-datatable .p-datatable-thead > tr > th:last-child {
    border-top-right-radius: 10px;
  }
  
  ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child {
    border-bottom-left-radius: 10px;
  }
  
  ::ng-deep .p-datatable .p-datatable-thead > tr > th:last-child {
    border-bottom-right-radius: 10px;
  }
  
  /* Body Rows */
  ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    background: #302F31 !important;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    color: white !important;
    text-align: left;
    border: none !important;
    border-bottom: 2px solid #d9d9d9 !important;
    text-wrap: nowrap;
  }
  .dept-badge {
    display: inline-flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
  }
  
  /* Dot style */
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
  }
  
  /* Active page */
  ::ng-deep .p-paginator-page.p-paginator-page-selected {
    background: #e9144a !important;
    color: white !important;
  }
  ::ng-deep .p-paginator-page.p-paginator-page-selected {
    background: #e9144a !important;
    color: white !important;
    border-radius: 8px;
    font-weight: bold;
  }
  
  /* Optional: center paginator */
  ::ng-deep .p-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 1rem;
  }
  .add-btn {
    display: flex;
    width: 200px;
    height: 44px;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #3177a3;
    color: #fff;
    font-family: "Sofia Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    border: none;
  }
  .btn-edit {
    border-radius: 8px;
    border: 2px solid #c4c4c4;
    background: #e8ecef;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #767676;
    cursor: pointer;
  }
  .question-bank {
    font-family: "Sofia Sans";
    padding: 40px 50px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    background: white;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
  }
  
  .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .action-cell{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .button {
    border-radius: 8px;
    background: #17b226;
    display: flex;
    width: 160px;
    height: 44px;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: none;
    color: #fff;
    font-family: "Sofia Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    cursor: pointer;
  }
  .nav-bar-container {
    padding: 0 4rem;
    background-color: #302F31;
  }
  
  /* Top Bar */
  /* .header {
    background-color: #302F31
  } */
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    height: 90px;
    width: 100%;
    /* margin-top: 50px; */
  }
  
  hr {
    background: #d9d9d9;
    height: 2.5px;
    border: none;
    width: 100%;
  }
  
  .bell {
    width: 40px;
    height: 40px;
    border: 2px solid #C4C4C4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ADADAD;
  }
  
  
  
  .profile {
    display: inline-block;
    border: 2px solid #C4C4C4;
    border-radius: 40px;
    /* width: 100%; */
    height: 44px;
    background: transparent;
    padding: 0 14px 0 0;
    transition: all 0.5s ease;
  
  }
  
  .profile.active {
    background: white;
    border-radius: 8px 8px 0 0;
    border: none;
    height: 54px;
    /* padding: 5px; */
  }
  
  .dropdown {
    /* border-top: 1px solid #C4C4C4; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 0 0 8px 8px;
    border: none;
    transition: all 0.5s ease;
  }
  
  .dropdown.active {
    background: white;
    position: absolute;
    top: 120%;
    right: -14px;
    width: 110%;
    height: 120px;
    border-top: 1px solid #C4C4C4;
  
  }
  
  .flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* padding: 2px 10px 0 2px; */
  }
  
  .sub-heading {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  
  .log-out-heading {
    color: #D20006;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .log-out {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  .Announcement {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  
  
  .dropdown-profile,
  .log-out,
  .Announcement {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  
  
  
  
  /* Logo */
  .logo {
    color: white;
    font-feature-settings: "salt" on, "liga" off;
    font-family: "Sofia Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
  }
  
  .logo-red {
    color: #FB9C2A;
    font-feature-settings: "salt" on, "liga" off;
    font-family: "Sofia Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    /* 116.667% */
  }
  
  /* Main Navigation */
  /* .main-nav {
    display: flex;
    gap: 2rem;
    height: 64px;
    justify-content: space-between;
    align-items: center;
  }
  
  ul{
    display: flex;
    gap: 2rem;
    height: 64px;
    justify-content: flex-start;
    align-items: center;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 125px;
    gap: 0.5rem;
    font-size: 0.95rem;
    cursor: pointer;
    color: #444;
    padding: 0.5rem 0.8rem;
    border-radius: 999px;
    transition: background 0.3s ease;
  } */
  a {
    text-decoration: none;
    color: #444;
    display: flex;
    gap: 10px;
    font-size: 16px;
  }
  
  /* 
  
  .nav-item:hover {
    background: #e0e0e0;
  }
  
  .nav-item.active {
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(40, 21, 90, 0.35);
    height: 40px;
    width: 120px;
  } */
  
  .header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* width: 100%; */
  }
  
  .user-profile {
    display: inline-block;
    cursor: pointer;
    background: transparent;
    position: relative;
    width: 100%;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .username {
    color: white;
    font-family: "Sofia Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .profile.active .username,
  .profile.active .pi {
    color: black;
  }