<div *ngIf="!selectedSummary" class="performance-container">
  <!-- New Appraisal Button -->
  <div class="flex justify-content-end align-items-center mb-4">
    <div class="flex justify-content-around gap-3">
      <button class="new-app" *ngIf="role === 'HR' || role === 'HR Manager'" (click)="openDialog()">New Appraisal <svg
          xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 21 20" fill="none">
          <path d="M10.5003 4.16663V15.8333M4.66699 9.99996H16.3337" stroke="white" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg></button>
      <!-- Search -->
      <div class="filter" (click)="toggleFilterDropdown()">
        <i class="pi pi-filter"></i>
        <ul class="filter-dropdown" *ngIf="showFilterDropdown">
          <li class="list" *ngFor="let option of filterOptions" (click)="selectFilter(option);$event.stopPropagation()"
            [ngClass]="{ 'active': selectedFilter?.value === option.value }">
            {{ option.label }}
          </li>
        </ul>
      </div>

      <div class="search">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
          <path
            d="M19.25 19.25L16.0417 16.0417M15.5833 9.16667C15.5833 10.0093 15.4174 10.8437 15.0949 11.6222C14.7724 12.4007 14.2998 13.1081 13.7039 13.7039C13.1081 14.2998 12.4007 14.7724 11.6222 15.0949C10.8437 15.4174 10.0093 15.5833 9.16667 15.5833C8.32402 15.5833 7.48962 15.4174 6.71111 15.0949C5.93261 14.7724 5.22524 14.2998 4.6294 13.7039C4.03356 13.1081 3.56091 12.4007 3.23844 11.6222C2.91597 10.8437 2.75 10.0093 2.75 9.16667C2.75 7.46486 3.42604 5.83276 4.6294 4.6294C5.83276 3.42604 7.46486 2.75 9.16667 2.75C10.8685 2.75 12.5006 3.42604 13.7039 4.6294C14.9073 5.83276 15.5833 7.46486 15.5833 9.16667Z"
            stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" />
        </svg>

        <input class="input" type="text" pInputText placeholder="Search Employee" (input)="onSearch($event)" />

      </div>

      <!-- Filter Selector -->
      <!-- <div class="filter"  (click)="toggleFilterDropdown()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M4.5 7.25H19.5M7.385 12H16.615M10.27 16.75H13.73" stroke="#9B9B9B" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div>
                      {{ selectedFilter?.label || 'Filter' }}
                    </div>
                  </div>
                  <ul class="filter-dropdown" *ngIf="showFilterDropdown">
                      <li *ngFor="let option of filterOptions" 
                          (click)="selectFilter(option)">
                        {{ option.label }}
                      </li>
                    </ul> -->
    </div>
  </div>

  <!-- Table -->
  <p-table [value]="loading ? [1,2,3,4,5] : filteredSummaries" [paginator]="!loading" [rows]="10"
    responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>No</th>
        <th>Emp ID</th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Cycle</th>
        <th>Period</th>
        <th>Score</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-s let-i="rowIndex">
      <ng-container *ngIf="!loading; else skeletonRow">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ s.employee?.employeeCode }}</td>
          <td>{{ s.employee?.firstName }} {{ s.employee?.lastName }}</td>
          <td class="t-data al">
            <span class="dept-badge" [ngStyle]="{
              backgroundColor: getDepartmentColors(s.department?.id).badgeColor
            }">
              <span class="dot" [ngStyle]="{
                backgroundColor: getDepartmentColors(s.department?.id).dotColor
              }"></span>
              {{ getDepartmentName(s.department?.id) }}
            </span>
          </td>
          <td>{{ s.cycle }}</td>
          <td>{{ s.period }}</td>
          <td>{{ s.marksScored || '-' }}</td>
          <td>{{ s.overallPerf || 'Draft' }}</td>
          <td>
            <button class="btn" (click)="openSummary(s)">Open</button>
          </td>
        </tr>
      </ng-container>

      <ng-template #skeletonRow>
        <tr>
          <td><p-skeleton width="2rem"></p-skeleton></td>
          <td><p-skeleton width="4rem"></p-skeleton></td>
          <td>
            <div class="flex align-items-center">
              <p-skeleton shape="circle" size="2.5rem" styleClass="mr-2"></p-skeleton>
              <div class="skeleton">
                <p-skeleton width="80px" height="12px"></p-skeleton>
                <p-skeleton width="60px" height="10px"></p-skeleton>
              </div>
            </div>
          </td>
          <td><p-skeleton width="90px"></p-skeleton></td>
          <td><p-skeleton width="70px"></p-skeleton></td>
          <td><p-skeleton width="60px"></p-skeleton></td>
          <td><p-skeleton width="50px"></p-skeleton></td>
          <td><p-skeleton width="80px"></p-skeleton></td>
          <td><p-skeleton width="40px"></p-skeleton></td>
        </tr>
      </ng-template>
    </ng-template>
  </p-table>
</div>

<!-- Assign Popup -->
<p-dialog header="Assign Performance Form" [(visible)]="visible" [modal]="true" [style]="{width:'500px'}">

  <form [formGroup]="assignForm" (ngSubmit)="onAssign()">

    <div class="p-fluid">

      <!-- Department -->
      <div class="field">
        <label for="departmentId">Department</label>
        <p-select id="departmentId" [options]="departments" optionLabel="name" optionValue="id"
          formControlName="departmentId" (onChange)="filterEmployees($event.value)">
        </p-select>
      </div>

      <!-- Employees -->
      <div class="field">
        <label for="employeeId">Employees</label>
        <p-multiSelect id="employeeId" [options]="filteredEmployees" optionLabel="firstName" optionValue="id"
          formControlName="employeeIds" placeholder="Select Employees">
        </p-multiSelect>
      </div>

      <!-- Cycle -->
      <div class="field">
        <label for="cycle">Appraisal Cycle</label>
        <input id="cycle" pInputText formControlName="cycle" placeholder="APR-2024 TO MAR-2025" />
      </div>

      <!-- Period -->
      <div class="field">
        <label for="period">Period</label>
        <p-select id="period" [options]="periods" formControlName="period">
        </p-select>
      </div>
    </div>

    <p-footer>
      <button pButton type="submit" label="Assign" [disabled]="assignForm.invalid"></button>
    </p-footer>
  </form>
</p-dialog>

<div *ngIf="selectedSummary" style="margin-top: 40px;">
  <app-appraisal-template [summaryData]="selectedSummary" (closeForm)="closeSummary()"></app-appraisal-template>
</div>