:host ::ng-deep {
  .p-card {
    background: #1e1e1e;
    color: #fff;
  }

  .p-tag {
    font-weight: 500;
  }
}

::ng-deep .p-datatable {
  border: none;
  background: transparent;
}

::ng-deep .p-card-body {
  padding: 50px 60px;
}

/* Header Row */
::ng-deep .training .p-datatable .p-datatable-thead>tr>th {
  background: #E8ECEF !important;
  color: black !important;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  border: none !important;
  border-bottom: none;
  height: 60px;
  text-align: left;
  text-wrap: nowrap;
  /* border-radius: 12px; */
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:first-child {
  border-top-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:last-child {
  border-top-right-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:first-child {
  border-bottom-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:last-child {
  border-bottom-right-radius: 10px;
}

/* Body Rows */
::ng-deep .training .p-datatable .p-datatable-tbody>tr>td {
  background: #302F31 !important;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: left;
  border: none !important;
  border-bottom: 2px solid #d9d9d9 !important;
  text-wrap: nowrap;
}

/* Employee Name Column with Image */
.empname {
  display: flex;
  align-items: center;
  gap: 12px;
  text-align: left;
}

.empname img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.email {
  font-size: 12px;
  color: #a1a1a1;
}

/* Department Badge */
.dept-badge {
  display: inline-flex;
  align-items: center;
  background-color: #b9f6ca;
  /* default (Design) */
  color: #004d40;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
}

/* Button */
.btn {
  border-radius: 8px;
  border: 2px solid #c4c4c4;
  background: transparent;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  cursor: pointer;
}

/* Paginator */
::ng-deep .p-paginator {
  background: transparent;
  justify-content: center;
  padding: 16px 0;
  gap: 8px;
}

::ng-deep .p-paginator-pages {
  display: flex;
  gap: 8px;
}

::ng-deep .p-paginator .p-paginator-page {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
}

::ng-deep .p-paginator-page.p-paginator-page-selected {
  background: #f00 !important;
  color: #fff !important;
  border: none;
}

.dropdown-container-in-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-in-table {
  width: 7vw;
  background-color: #2b2b2b;
  color: #fff;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 0.9rem;
  cursor: pointer;
}

.dropdown-in-table option {
  background-color: transparent;
  color: #fff;
}

.count-link {
  color: #42a5f5;
  text-decoration: none;
  cursor: pointer;
}

.count-link:hover {
  color: #64b5f6;
}

/* 
.button {
  display: flex;
  justify-content: end;
  position: relative;
  right: 0;
  left: 0;
  top: -15px;
  pointer-events: all;
} */

.button button {
  display: flex;
  width: 160px;
  height: 44px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #0062A1;
  border-color: #0062A1;
}

.p-button-success:hover {
  background: #0062A1;
  border-color: #0062A1;
}

.action-btns {
  display: flex;
  gap: 20px;
}

.action-btns .edit {
  display: inline-flex;
  height: 34px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #17B226 !important;
  border-color: #17B226 !important;
}

.text {
  color: #FFF;
  font-family: "Sofia Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}

.text:hover {
  color: white;
}

.action-btns .assign {
  display: inline-flex;
  height: 34px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #F00 !important;
  border-color: #F00 !important;
}

.action-btns .review {
  display: inline-flex;
  height: 34px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #0062A1 !important;
  border-color: #0062A1 !important;
}

.filter {
  color: #9b9b9b;
  font-size: 18px;
  font-family: "Sofia Sans";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 14px;
  background-color: white !important;
  cursor: pointer;
  width: 50px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-list {
  position: absolute;
  top: 100%;
  left: 0px;
  min-width: 160px;
  background: var(--surface-ground);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  padding: 0.30rem 0.5rem;
  list-style: none;
  margin: 0;
  background: white;
}

.menu-list li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 14px;
  color: black;
}


.menu-list .list:hover {
  background-color: #eee;
  border-radius: 20px;
}

.menu-list .list.active {
  background-color: #d0ebff;
  font-weight: bold;
  color: black;
  border-radius: 20px;
}

.p-inputtext {
  background-color: white !important;
  color: black;
}

.flex1 {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  top: 0;
}

.flex {
  display: flex;
  gap: 20px;
  justify-content: end;
  /* margin-top: -20px; */
  position: relative;
  top: -15px;
  /* pointer-events: all; */

}