<div class="balances-accruals">
    <div class="header">
        <div class="heading">Balances & Accruals</div>
        <div class="flex">
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input type="text" pInputText placeholder="Search"  (input)="onSearch($event)"  />
            </p-iconfield>
            <div (click)="toggleDropdown()">
                <i class="pi pi-align-center"><span class="filter">Filter</span></i>
                <ul class="menu-list" *ngIf="filterDropdown">
                    <li class="list" *ngFor="let option of filterOption" (click)="selectFilter(option);$event.stopPropagation()"
                        [ngClass]="{'active': selectedFilter?.value === option.value}">{{ option.label }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="table">
        <p-table class="" [value]="filterBalancesData" [paginator]="true" [rows]="10" class="custom-table">
            <ng-template #header>
                <tr>
                    <th>No</th>
                    <th>Emp ID</th>
                    <th>Employee Name</th>
                    <th>Phone Number</th>
                    <th>Department</th>
                    <th>Job Title</th>
                    <th>Shift Type</th>
                    <th>Total Leave Taken</th>
                    <th>Total Perm. Taken</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template #body let-balancesData let-rowIndex="rowIndex" class="t-body">
                <tr>
                    <td class="t-data al">{{ rowIndex + 1 }}</td>
                    <td class="t-data al">{{ balancesData.empId }}</td>
                    <td class="empname">
                        <img src="/img.png" alt="">
                        <div class="">
                            <div class="name">{{ balancesData.empName }}</div>
                            <span class="email">{{balancesData.email}}</span>
                        </div>
                    </td>
                    <td class="t-data al">{{ balancesData.number }}</td>
                    <td class="t-data al">
                        <span class="dept-badge" [ngClass]="getDeptClass(balancesData.department)">
                            <span class="dot"
                                [ngStyle]="{ backgroundColor: getDotColor(balancesData.department) }"></span>
                            {{ balancesData.department }}
                        </span>
                    </td>
                    <td class="t-data al">{{ balancesData.jobTitle }}</td>
                    <td class="t-data al">{{ balancesData.shiftType }}</td>
                    <td class="t-data al">{{ balancesData.totalLeave }}</td>
                    <td class="t-data al">{{ balancesData.totlePerm }}</td>

                    <td>
                        <button class="btn">See Details</button>
                    </td>

                </tr>
            </ng-template>
        </p-table>

    </div>
</div>