<div class="performance-container">

  <div class="header">
    <h2>Employee Grievances <i class="pi pi-info-circle info-icon"
        pTooltip="Raise official concerns, complaints, or suggestions regarding workplace issues. These requests are confidential and will be reviewed by HR"
        tooltipPosition="top"></i></h2>
    <div class="flex justify-content-end mb-3">
      <button label="Raise Grievance" style="cursor: pointer" icon="pi pi-plus" class="new-app" (click)="openForm()"> Raise Grievance<svg
          xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 21 20" fill="none">
          <path d="M10.5003 4.16663V15.8333M4.66699 9.99996H16.3337" stroke="white" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg></button>
    </div>
  </div>

  <div *ngIf="currentPath === '/individual'" class="grievance-table-container">
    <table class="individual-table">
      <thead>
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Status</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let g of grievances; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ g.title }}</td>
  
          <td>
            <span class="status-badge status-open" *ngIf="g.status === 'OPEN'">Open</span>
            <span class="status-badge status-resolved" *ngIf="g.status === 'RESOLVED'">Resolved</span>
          </td>
        </tr>
        <tr *ngIf="grievances?.length === 0">
          <td colspan="3" class="no-data center-right">
            No grievances raised.
          </td>
        </tr>
      </tbody>
  
    </table>
  
  </div>
  <div *ngIf = "currentPath !== '/individual'" class="grievance-table-container">
    
  <p-table [value]="loading ? [1,2,3,4,5] : grievances" [paginator]="!loading" [rows]="10" responsiveLayout="scroll">

    <!-- Header -->
    <ng-template pTemplate="header">
      <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Status</th>
        <th style="text-align: center;" *ngIf="(role === 'HR' || role === 'HR Manager') && currentPath !== '/individual'" >Actions</th>
      </tr>
    </ng-template>

    <!-- Body -->
    <ng-template pTemplate="body" let-g let-rowIndex="rowIndex">
      <tr *ngIf="!loading; else skeletonRow">
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ g.title }}</td>
        <td>
          <p-tag [severity]="g.status === 'OPEN' ? 'info' : g.status === 'RESOLVED' ? 'success' : 'danger'">
            {{ g.status }}
          </p-tag>
        </td>
        <td *ngIf="(role === 'HR' || role === 'HR Manager') && currentPath !== '/individual'" class="flex align-items-center justify-content-center gap-2">
          <p-button icon="pi pi-eye" label="View" (onClick)="view(g)"></p-button>
          <div>
            <p-select [options]="statusOptions" [(ngModel)]="g.status" appendTo="body" (onChange)="updateStatus(g)">
            </p-select>
          </div>
        </td>
      </tr>

      <!-- Skeleton Row -->
      <ng-template #skeletonRow>
        <tr>
          <td><p-skeleton width="1.5rem"></p-skeleton></td>
          <td><p-skeleton width="120px"></p-skeleton></td>
          <td><p-skeleton width="80px"></p-skeleton></td>
          <td *ngIf="role === 'HR' || role === 'HR Manager'"><p-skeleton width="150px"></p-skeleton></td>
        </tr>
      </ng-template>

    </ng-template>

  </p-table>
  </div>

</div>

<p-dialog header="" [(visible)]="showForm" [closable]="false" [modal]="true" [style]="{width: '40vw'}">
  <ng-template pTemplate="header">
    <div class="dialog-header-custom">
      <span>Raise Grievance</span>

      <button class="dialog-close-btn" (click)="showForm = false">
        ✕
      </button>
    </div>
  </ng-template>
  <app-grievance-form (saved)="loadGrievances(); showForm=false"></app-grievance-form>
</p-dialog>
<p-dialog [(visible)]="showDetails" [modal]="true" [style]="{width: '50vw'}" [closable]="false">
  
  <ng-template pTemplate="header">
    <div class="dialog-header-custom">
      <span>
        <span>Grievance Details</span>
        <span class="created-date">
          Raised At:
          {{ selected?.createdAt | date:'short' }}
        </span>
      </span>
      <button class="dialog-close-btn" (click)="showDetails = false">
        ✕
      </button>
    </div>
  </ng-template>
  <ng-container *ngIf="selected">
    <h3>{{ selected.title }}</h3>
    <p>{{ selected.description }}</p>

    <h4>Comments</h4>
    <ul>
      <li *ngFor="let c of selected.comments">
        <b>{{ c.employee?.name || 'Employee ' + c.employeeId }}</b>: {{ c.comment }}
        <b><small>({{ c.createdAt | date:'short' }})</small></b>
      </li>
    </ul>

    <div class="p-inputgroup">
      <input type="text" pInputText [(ngModel)]="newComment" placeholder="Add comment...">
    </div>
    <div class="mt-4 flex justify-content-end">
      <button pButton type="button" icon="pi pi-send" [loading]="isLoading" [label]="isLoading ? 'Adding Comment': 'Add Comment'" (click)="addComment()"></button>
    </div>
  </ng-container>
</p-dialog>