::ng-deep .p-inputtext,
.p-textarea,
.p-select {
  width: 100%;
  background-color: transparent !important;
  color: white !important;
}

.final {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.p-floatlabel.float-active label {
  top: -0.40rem;
  font-size: 0.75rem;
  background-color: black !important;
  color: white !important;
}

h2,
h3 {
  color: white;
}

::ng-deep .p-dialog-content {
  padding: 20px !important;
}

::ng-deep .btn .p-button {
  margin-top: 20px;
  border-radius: 6px;
  background: #194B9B !important;
  height: 33px !important;
}

.flex1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

::ng-deep .p-select-label,
::ng-deep .p-select-dropdown {
  color: white !important;
}