<div class="individual-container">

    <div class="individual-top">
        <div class="part-1">
            <!-- Attendance-card -->

            <div class="attendance-card">
                <!-- Top Date Header -->
                <div class="date-header">
                    <button pButton icon="pi pi-angle-left" (click)="goToPreviousDay()" class="arrow-btn"></button>

                    <div class="date-info">
                        <div class="day-number">{{ selectedDate | date: 'dd' }}</div>
                        <div class="day-details">
                            <div class="day-name">{{ selectedDate | date: 'EEEE' }}</div>
                            <div class="month-year">{{ selectedDate | date: 'MMMM yyyy' }}</div>
                        </div>
                    </div>

                    <button pButton icon="pi pi-angle-right" class="arrow-btn" (click)="goToNextDay()"
                        [disabled]="isToday(selectedDate)">
                    </button>
                </div>

                <!-- Week Status -->
                <div class="status-title">This Week Status</div>
                <div class="week-status">
                    <div class="days">
                        <div class="day" *ngFor="let d of weekDays">
                            <div class="day-label">{{ d.day }}</div>
                            <div class="status-icon"
                                [ngClass]="{'present': d.status === 'present','absent': d.status === 'absent','holiday': d.status === 'holiday'}">
                                <ng-container [ngSwitch]="d.status">
                                    <span *ngSwitchCase="'present'">&#10003;</span>
                                    <span *ngSwitchCase="'absent'">A</span>
                                    <span *ngSwitchCase="'holiday'">&#8211;</span>
                                    <span *ngSwitchCase="'none'">&#9711;</span> <!-- empty circle -->
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Action Buttons -->
                <div class="action-buttons" *ngIf="selectedDate.toDateString() === today.toDateString()">
                    <button pButton label="Log In" class="login-btn"></button>
                    <button pButton label="Log Out" class="logout-btn"></button>
                </div>
            </div>


            <!-- Working-Card -->

            <div class="working-hours">
                <div class="working-card">
                    <div class="header">
                        <div class="title">
                            <h3>Working Hours</h3>
                            <div class="">
                                <span class="shift">{{ shiftName }}</span>
                            </div>
                        </div>
                        <div class="flex">
                            <button pButton icon="pi pi-chevron-left" (click)="previousWeek()"
                                class="p-button-text"></button>
                            <p>{{ weekStart | date:'dd MMM yyyy' }} - {{ weekEnd | date:'dd MMM yyyy' }}</p>
                            <button pButton icon="pi pi-chevron-right" (click)="nextWeek()" class="p-button-text"
                                [disabled]="isCurrentWeek()">
                            </button>
                        </div>
                    </div>

                    <div class="attendance-list">
                        <div *ngFor="let day of attendanceData" class="attendance-row">
                            <div class="day">{{ day.dayName }}</div>
                            <ng-container [ngSwitch]="day.status">
                                <div class="time" *ngSwitchCase="'Present'">
                                    {{ day.totalHours }}
                                </div>
                                <div class="status leave" *ngSwitchCase="'Leave'">Leave</div>
                                <div class="status off" *ngSwitchCase="'Day Off'">Day Off</div>
                                <div class="status empty" *ngSwitchCase="'Empty'"></div>
                            </ng-container>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="part-2">
            <div class="box-1 box"></div>
            <div class="box-2 box"></div>
            <div class="box-3 box"></div>
            <div class="box-4 box"></div>

        </div>
    </div>



    <div class="individual-bottom">
        <!-- Leave -->
        <div class="leave">
            <div>
                <div class="header-part">
                    <div class="main-heading">Leaves</div>
                    <div class="new-form" (click)="openLeaveForm()">
                        <div class="text">New Form</div>
                        <div><i class="pi pi-plus"></i></div>
                    </div>
                </div>

                <div class="table">
                    <p-table [value]="leave" [scrollable]="true" scrollHeight="300px">
                        <ng-template #header>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-leave>
                            <tr>
                                <td>
                                    <div class="dropdown-container-in-table"
                                        *ngIf="leave.dates?.length > 0; else noLeaveDates">
                                        <select class="dropdown-in-table">
                                            <option disabled>
                                                {{ leave.dates[0] }} — {{ leave.dates[leave.dates.length - 1] }}
                                            </option>
                                            <option *ngFor="let d of leave.dates" [value]="d">
                                                {{ d }}
                                            </option>
                                        </select>
                                    </div>
                                    <ng-template #noLeaveDates>
                                        <span>-</span>
                                    </ng-template>
                                </td>


                                <td><span class="status style" [ngClass]="getStatusClass(leave.status)">{{
                                        leave.status }}</span></td>
                                <td><span class="btn style" (click)="viewLeaveDetails(leave)">See details</span></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                              <td colspan="3" class="no-data-message">
                                <i class="pi pi-info-circle"></i>
                                No leave requests found.
                              </td>
                            </tr>
                          </ng-template>
                    </p-table>
                </div>
            </div>

            <div class="border"></div>
        </div>

        <!--permission  -->
        <div class="permission">
            <div>
                <div class="header-part">
                    <div class="main-heading">Permission</div>
                    <div class="new-form" (click)="openPermissionForm()">
                        <div class="text">New Form</div>
                        <div><i class="pi pi-plus"></i></div>
                    </div>
                </div>

                <div class="table">
                    <p-table [value]="permission" [scrollable]="true" scrollHeight="300px">
                        <ng-template #header>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-permission>
                            <tr>
                                <td>
                                    <div class="date date-btn style">
                                        <span class="">{{ permission.date }}</span>
                                        <!-- <i class="pi pi-chevron-down"></i> -->
                                    </div>
                                </td>
                                <td><span class="status style" [ngClass]="getStatusClass(permission.status)">{{
                                        permission.status }}</span></td>
                                <td><span class="btn style" (click)="viewPermissionDetails(permission)">See details</span></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                              <td colspan="3" class="no-data-message">
                                <i class="pi pi-info-circle"></i>
                                No Permission requests found.
                              </td>
                            </tr>
                          </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="border"></div>
        </div>

        <!-- Work From Home -->
        <div class="wfh">
            <div>
                <div class="header-part">
                    <div class="main-heading">Work Form Home</div>
                    <div class="new-form" (click)="openWFHForm()">
                        <div class="text">New Form</div>
                        <div><i class="pi pi-plus"></i></div>
                    </div>
                </div>

                <div class="table">
                    <p-table [value]="wfh" [scrollable]="true" scrollHeight="300px">
                        <ng-template #header>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-wfh>
                            <tr>
                                <td>
                                    <div class="dropdown-container-in-table"
                                        *ngIf="wfh.dates?.length > 0; else noWfhDates">
                                        <select class="dropdown-in-table">
                                            <option disabled>
                                                {{ wfh.dates[0] }} — {{ wfh.dates[wfh.dates.length - 1] }}
                                            </option>
                                            <option *ngFor="let d of wfh.dates" [value]="d">{{ d }}</option>
                                        </select>
                                    </div>
                                    <ng-template #noWfhDates>
                                        <span>-</span>
                                    </ng-template>
                                </td>


                                <td><span class="status style" [ngClass]="getStatusClass(wfh.status)">{{
                                        wfh.status }}</span></td>
                                <td><span class="btn style" (click)="viewWFHDetails(wfh)">See details</span></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                              <td colspan="3" class="no-data-message">
                                <i class="pi pi-info-circle"></i>
                                No WFH requests found.
                              </td>
                            </tr>
                          </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-leave-popup
  *ngIf="showLeaveDetailsPopup"
  [showPopup]="true"
  [leaveData]="selectedLeaveForView"
  [isViewOnly]="leaveViewMode"
  [hasBackdrop]="true"
  (close)="closePopup()">
</app-leave-popup>

<app-permission-popup
  *ngIf="showPermissionPopup"
  [showPopup]="true"
  [permissionData]="selectedPermission"
  [isViewOnly]="permissionViewMode"
  (close)="closePopup()">
</app-permission-popup>

<app-wfh-popup
  *ngIf="showWFHPopup"
  [showPopup]="true"
  [wfhData]="selectedWFH"
  [isViewOnly]="wfhViewMode"
  [hasBackDrop]="true"
  (close)="closePopup()">
</app-wfh-popup>
