.individual-container {
    width: 100%;
    overflow: auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.individual-top {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.part-1 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}


.part-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.box {
    width: 350px;
    height: 155px;
    flex-shrink: 0;
    border-radius: 20px;
}

.box-1 {
    background: #3177A3;
}

.box-2 {
    background: #AC6C34;
}

.box-3 {
    background: #35AC40;

}

.box-4 {
    background: #AB3434;
}


.attendance-card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    width: 340px;
    height: 380px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.date-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-btn {
    background: #f5f5f5;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.date-info {
    display: flex;
    align-items: center;
}

.day-number {
    font-size: 5rem;
    font-weight: bold;
    margin-right: 8px;
}

.month-year {
    color: #595959;
    font-family: "Sofia Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.day-name {
    color: #000;
    font-family: "Sofia Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.24px;
}

.day-details {
    text-align: left;
}

.status-title {
    color: #000;
    font-family: "Sofia Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.18px;
    margin-top: 20px;
}

.week-status {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.days {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    color: #000;
    font-family: "Sofia Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.day {
    text-align: center;
}

.day-label {
    font-weight: bold;
    margin-bottom: 4px;
}

.status-icon {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.present {
    background-color: #65E972;
    color: white;
}

.absent {
    background-color: #FF5151;
    color: white;
}

.holiday {
    background-color: #025A90;
    color: white;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.login-btn {
    width: 119px;
    height: 34px;
    background-color: #28a745 !important;
    border: none !important;
    color: white !important;
    font-weight: bold;
    padding: 0.6rem 1.2rem !important;
    border-radius: 10px !important;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #218838 !important;
    border: none !important;
}


.logout-btn {
    width: 119px;
    height: 34px;
    background-color: #E9144A !important;
    border: none !important;
    color: white !important;
    font-weight: bold;
    padding: 0.6rem 1.2rem !important;
    border-radius: 10px !important;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #e42957 !important;
    border: none !important;
}


.working-card {
    background: #fff;
    border-radius: 8px;
    padding:30px 20px;
    height: 380px;
    width: 340px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 30px;
    padding: 0px 0px 20px;
    border-bottom: 1px solid #C4C4C4;
}

.title h3 {
    color: #1F1F1F;
    font-family: "Sofia Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
}

.shift {
    color: #02A211;
    font-family: "Sofia Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.15px;
}

.attendance-list {
    margin-top: 16px;
}

.p-button-text {
    background: #f5f5f5;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.attendance-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.day {
    font-weight: 500;
}

.time {
    text-align: right;
}

.status.leave {
    color: red;
}

.status.off {
    color: blue;
}




.individual-bottom {
    width: 117%;
    height: auto;
    flex-shrink: 0;
    /* margin: 50px; */
    font-family: "Sofia Sans";
    border-radius: 20px;
    background: #FFF;
    padding: 50px 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.header-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-heading {
    color: #1F1F1F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
}

.new-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    background: #3177A3;
    padding: 10px 16px;
}

.text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
}

::ng-deep .new-form .pi-plus {
    color: #FFF;
    font-size: 12px;
}

.table {
    margin-top: 30px;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100px;
    padding: 10px 20px;
}

.date-btn {
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 140px;
    padding: 10px 20px;
}

.style {
    color: #2B2B2B;
    font-family: "Sofia Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

::ng-deep .table .p-datatable .p-datatable-thead>tr>th {
    background: #FFF;
    border-bottom: 1px solid #D9D9D9;
    text-align: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
}

::ng-deep .table .p-datatable .p-datatable-tbody>tr>td {
    border: none;
    text-align: center;
}

::ng-deep .pi-chevron-down {
    font-size: 12px;
}

.border {
    border-right: 2px solid #ADADAD;

}


.leave,
.permission {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.status-pending {
    background-color: #FFF351;
    /* yellow */
    color: #000;
    border-radius: 5px;
    font-weight: 500;
    width: 83px;
    padding: 10px 20px;
}

.status-approved {
    background-color: #65E972;
    /* green */
    color: white;
    border-radius: 5px;
    font-weight: 500;
    width: 83px;
    padding: 10px 20px;
}

.status-rejected {
    background-color: #FF5151;
    /* red */
    color: white;
    border-radius: 5px;
    font-weight: 500;
    width: 83px;
    padding: 10px 20px;
}