<div class="individual-container" *ngIf="!showSurveyForm">

    <div class="individual-top">
        <div class="part-1">
            <!-- Attendance-card -->

            <!-- <div class="attendance-card">
                <div class="date-header">
                    <button pButton icon="pi pi-angle-left" (click)="goToPreviousDay()" class="arrow-btn"></button>

                    <div class="date-info">
                        <div class="day-number">{{ selectedDate | date: 'dd' }}</div>
                        <div class="day-details">
                            <div class="day-name">{{ selectedDate | date: 'EEEE' }}</div>
                            <div class="month-year">{{ selectedDate | date: 'MMMM yyyy' }}</div>
                        </div>
                    </div>

                    <button pButton icon="pi pi-angle-right" class="arrow-btn" (click)="goToNextDay()"
                        [disabled]="isToday(selectedDate)">
                    </button>
                </div>


                <div class="status-title">This Week Status</div>
                <div class="week-status">
                    <div class="days">
                        <div class="day" *ngFor="let d of weekDays">
                            <div class="day-label">{{ d.day }}</div>
                            <div class="status-icon"
                                [ngClass]="{'present': d.status === 'present','absent': d.status === 'absent','holiday': d.status === 'holiday'}">
                                <ng-container [ngSwitch]="d.status">
                                    <span *ngSwitchCase="'present'">&#10003;</span>
                                    <span *ngSwitchCase="'absent'">A</span>
                                    <span *ngSwitchCase="'holiday'">&#8211;</span>
                                    <span *ngSwitchCase="'none'">&#9711;</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="action-buttons">
                    <button pButton label="Log In" class="login-btn" [disabled]="selectedDate < today"></button>
                    <button pButton label="Log Out" class="logout-btn" [disabled]="selectedDate < today"></button>
                </div>
            </div> -->
            <!-- <div class="employee-card">
                <ng-container *ngIf="!employee; else employeeLoaded">
                    <div class="profile-header">
                        <p-skeleton shape="circle" size="6rem" class="profile-pic mb-3"></p-skeleton>
                        <div class="employee-info mt-3">
                            <p-skeleton width="10rem" class="mb-2"></p-skeleton>
                            <p-skeleton width="6rem" class="mb-2"></p-skeleton>
                            <p-skeleton width="8rem" class="mb-2"></p-skeleton>
                        </div>
                    </div>

                    <div class="employee-contact mt-3">
                        <p-skeleton width="12rem" class="mb-2"></p-skeleton>
                        <p-skeleton width="15rem" class="mb-2"></p-skeleton>
                    </div>

                    <div class="employee-meta mt-3 w-100">
                        <p-skeleton width="18rem" class="mb-2"></p-skeleton>
                        <p-skeleton width="14rem" class="mb-2"></p-skeleton>
                    </div>

                    <div class="employee-meta mt-3 w-100">
                        <p-skeleton width="10rem" class="mb-2"></p-skeleton>
                        <p-skeleton width="8rem" class="mb-2"></p-skeleton>
                    </div>

                    <div class="employee-meta mt-3">
                        <p-skeleton width="10rem" class="mb-2"></p-skeleton>
                    </div>
                </ng-container>


                <ng-template #employeeLoaded>
                    <div class="profile-header">
                        <img [src]="employee.photoUrl || getDefaultImage()" (error)="onImageError($event)" alt="Profile"
                            class="profile-pic" />
                        <div class="employee-info mt-3">
                            <div class="employee-name">{{ employee.firstName }} {{ employee.lastName }}</div>
                            <div class="employee-role">{{ employee.designation }}</div>
                            <div class="employee-code">Code: {{ employee.employeeCode }}</div>
                        </div>
                    </div>

                    <div class="employee-contact mt-3">
                        <div class="contact-item">
                            <i class="pi pi-phone"></i> {{ employee.phone }}
                        </div>
                        <div class="contact-item">
                            <i class="pi pi-envelope"></i> {{ employee.email }}
                        </div>
                    </div>


                    <div class="employee-meta mt-3 w-100">
                        <div class="flex2">
                            <strong>Department -</strong>
                            <span class="div">{{ employee.departmentName || '-' }}</span>
                        </div>
                        <div class="flex2">
                            <strong>Date of Joining -</strong>
                            <span class="div">{{ employee.dateOfJoining | date: 'dd MMM yyyy' }}</span>
                        </div>
                    </div>

                    <div class="employee-meta mt-3 w-100">
                        <div class="flex2"><strong>Blood Group:</strong> {{ employee.bloodGroup || '-' }}</div>
                        <div class="flex2"><strong>Age:</strong> {{ employee.age || '-' }}</div>
                    </div>


                    <div class="employee-meta mt-3" *ngIf="employee.emergencyContacts?.length">
                        <div><strong>Emergency Contact:</strong></div>
                        <div>
                            {{ employee.emergencyContacts[0]?.name }} ({{ employee.emergencyContacts[0]?.relationship
                            }}) -
                            {{ employee.emergencyContacts[0]?.phone }}
                        </div>
                    </div>
                </ng-template>

                <div class="employee-meta flex" *ngIf="pendingSurveys.length > 0 && !showSurveyForm">


                    <div *ngFor="let survey of pendingSurveys">
                        <p-button label="Take Survey" icon="pi pi-file-edit" (click)="openSurveyForm(survey)">
                        </p-button>
                    </div>
                </div>

            </div> -->
            <div class="slide-container">



                <!-- FRONT CARD -->
                <div class="card front" [class.hide]="showDetails">

                    <!-- Cover Image + Icon -->
                    <div class="cover">
                        <img class="cover-img" [src]="employee?.coverUrl || defaultCover" />
                        <i class="pi pi-id-card icon-btn" (click)="toggleDetails()"></i>
                    </div>
                    <!-- Circle Profile Image overlapping -->
                    <img class="profile-pic" [src]="employee?.photoUrl || getDefaultImage()"
                        (error)="onImageError($event)" />

                    <!-- Text Content -->
                    <div class="content">
                        <div class="name">{{ employee?.firstName }} {{ employee?.lastName }}</div>
                        <div class="role">{{ employee?.designation?.name }}</div>
                        <div class="code">{{ employee?.employeeCode }}</div>

                        <button pButton label="Take Survey" class="survey-btn"
                            (click)="pendingSurveys.length > 0 && openSurveyForm(pendingSurveys[0])">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                fill="none">
                                <g clip-path="url(#clip0_17434_385)">
                                    <path
                                        d="M10.5 6H3.5C3.36739 6 3.24021 5.94732 3.14645 5.85355C3.05268 5.75979 3 5.63261 3 5.5V3.5C3 3.36739 3.05268 3.24021 3.14645 3.14645C3.24021 3.05268 3.36739 3 3.5 3H10.5C10.6326 3 10.7598 3.05268 10.8536 3.14645C10.9473 3.24021 11 3.36739 11 3.5V5.5C11 5.63261 10.9473 5.75979 10.8536 5.85355C10.7598 5.94732 10.6326 6 10.5 6ZM4 5H10V3.97H4V5Z"
                                        fill="white" />
                                    <path
                                        d="M10.5 7.04004H3.5C3.36739 7.04004 3.24021 7.09272 3.14645 7.18649C3.05268 7.28025 3 7.40743 3 7.54004V9.50004C3 9.63265 3.05268 9.75982 3.14645 9.85359C3.24021 9.94736 3.36739 10 3.5 10H9.18L11 8.15004V7.54004C11 7.40743 10.9473 7.28025 10.8536 7.18649C10.7598 7.09272 10.6326 7.04004 10.5 7.04004ZM10 9.00004H4V8.00004H10V9.00004Z"
                                        fill="white" />
                                    <path
                                        d="M5.53 15.755V15.725L5.69 15.03H2V2H12V7.125L13 6.18V1.5C13 1.36739 12.9473 1.24021 12.8536 1.14645C12.7598 1.05268 12.6326 1 12.5 1H1.5C1.36739 1 1.24021 1.05268 1.14645 1.14645C1.05268 1.24021 1 1.36739 1 1.5V15.5C1 15.6326 1.05268 15.7598 1.14645 15.8536C1.24021 15.9473 1.36739 16 1.5 16H5.5C5.50405 15.9177 5.51408 15.8358 5.53 15.755Z"
                                        fill="white" />
                                    <path
                                        d="M11 9.58496L10.61 9.97996C10.7067 9.96001 10.7954 9.91185 10.8648 9.84155C10.9342 9.77125 10.9813 9.68196 11 9.58496Z"
                                        fill="white" />
                                    <path
                                        d="M3 13.47C3 13.6026 3.05268 13.7298 3.14645 13.8236C3.24021 13.9173 3.36739 13.97 3.5 13.97H5.92L6.07 13.32L6.135 13.045V13.02H4V12H7.17L8.17 11H3.5C3.36739 11 3.24021 11.0527 3.14645 11.1464C3.05268 11.2402 3 11.3674 3 11.5V13.47Z"
                                        fill="white" />
                                    <path
                                        d="M16.745 8.33513L15.06 6.65013C14.9852 6.57515 14.8964 6.51566 14.7986 6.47506C14.7007 6.43447 14.5959 6.41357 14.49 6.41357C14.3841 6.41357 14.2792 6.43447 14.1814 6.47506C14.0836 6.51566 13.9948 6.57515 13.92 6.65013L7.06499 13.5451L6.49999 15.9501C6.47884 16.0539 6.47836 16.1608 6.49859 16.2647C6.51882 16.3687 6.55936 16.4676 6.61788 16.5558C6.6764 16.6441 6.75176 16.7199 6.83964 16.779C6.92751 16.8381 7.02618 16.8792 7.12999 16.9001C7.18154 16.9052 7.23345 16.9052 7.28499 16.9001C7.34629 16.9097 7.40869 16.9097 7.46999 16.9001L9.89499 16.3651L16.745 9.50013C16.8198 9.42578 16.8792 9.33736 16.9197 9.23997C16.9603 9.14257 16.9811 9.03812 16.9811 8.93263C16.9811 8.82714 16.9603 8.72269 16.9197 8.6253C16.8792 8.5279 16.8198 8.43949 16.745 8.36513V8.33513ZM9.38499 15.4551L7.55499 15.8601L7.99999 14.0451L13.14 8.85013L14.55 10.2601L9.38499 15.4551ZM15.115 9.69513L13.705 8.28513L14.5 7.50013L15.92 8.92013L15.115 9.69513Z"
                                        fill="white" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_17434_385">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                    </div>
                </div>

                <!-- BACK CARD -->
                <div class="card back" [class.show]="showDetails">
                    <div class="flex justify-content-start align-items-center">
                        <i class="pi pi-arrow-left back-icon" (click)="toggleDetails()"></i>
                    </div>

                    <div class="detail"><strong>Phone:</strong> {{ employee?.phone }}</div>
                    <hr />
                    <div class="detail"><strong>Email:</strong> {{ employee?.email }}</div>
                    <hr />
                    <div class="detail"><strong>Department:</strong> {{ employee?.departmentName }}</div>
                    <hr />
                    <div class="detail"><strong>Date of Joining:</strong> {{ employee?.dateOfJoining | date: 'dd MMM
                        yyyy' }}</div>
                    <hr />
                    <div class="detail"><strong>Blood Group:</strong> {{ employee?.bloodGroup }}</div>
                    <hr />
                    <div class="detail"><strong>Age:</strong> {{ employee?.age }}</div>
                </div>

            </div>



            <!-- Working-Card -->
            <div class="working-hours">
                <ng-container *ngIf="!attendanceData; else workingCard">
                    <div class="title">
                        <p-skeleton width="8rem" height="1.5rem" class="mb-2"></p-skeleton>
                        <p-skeleton width="5rem" height="1rem"></p-skeleton>
                    </div>
                    <div class="flex">
                        <p-skeleton shape="circle" size="2rem" class="mr-2"></p-skeleton>
                        <p-skeleton width="10rem" height="1rem" class="mr-2"></p-skeleton>
                        <p-skeleton shape="circle" size="2rem"></p-skeleton>
                    </div>

                </ng-container>
                <ng-template #workingCard>
                    <div class="working-card">
                        <div class="header">
                            <div class="title">
                                <h3>Working Hours</h3>
                                <div class="">
                                    <span class="shift">{{ shiftName }}</span>
                                </div>
                            </div>
                            <div class="flex">
                                <button pButton icon="pi pi-chevron-left" (click)="previousWeek()"
                                    class="p-button-text"></button>
                                <p>{{ weekStart | date:'dd MMM yyyy' }} - {{ weekEnd | date:'dd MMM yyyy' }}</p>
                                <button pButton icon="pi pi-chevron-right" (click)="nextWeek()" class="p-button-text"
                                    [disabled]="isCurrentWeek()">
                                </button>
                            </div>
                        </div>

                        <div class="attendance-list">
                            <div *ngFor="let day of attendanceData" class="attendance-row">
                                <div class="day">{{ day.dayName }}</div>
                                <div class="dash">-</div>
                                <ng-container [ngSwitch]="day.status">
                                    <div class="time" *ngSwitchCase="'Present'">
                                        {{ day.totalHours || '0 hrs 0 mins' }}
                                    </div>
                                    <div class="status leave" *ngSwitchCase="'Leave'">Leave</div>
                                    <div class="status off" *ngSwitchCase="'Day Off'">Day Off</div>
                                    <div class="status empty" *ngSwitchCase="'Empty'"></div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>


        <div class="part-2">
            <div class="box-1">
                <div class="holiday-card box">
                    <!-- Skeleton Loader -->
                    <!-- <ng-container *ngIf="!holidayDates?.length; else holidayContent">
                        <div class="skeleton-wrapper">
                            
                            <div class="header flex justify-content-between align-items-center mb-3">
                                <div class="flex align-items-center gap-2">
                                    <p-skeleton shape="circle" size="2rem"></p-skeleton>
                                    <p-skeleton width="9rem" height="1.5rem"></p-skeleton>
                                    <p-skeleton shape="circle" size="2rem"></p-skeleton>
                                </div>
                            </div>

                            
                            <div class="holiday-display">
                                <p-skeleton width="8rem" height="1.5rem" class="mb-2"></p-skeleton>
                                <p-skeleton width="10rem" height="1.2rem"></p-skeleton>
                            </div>
                        </div>
                    </ng-container> -->

                    <!-- Actual Holiday Data -->
                    <!-- <ng-template #holidayContent> -->

                    <h2>Nearest Holiday</h2>
                    <div class="next" *ngIf="holidayDates.length > 0; else noHolidays">
                        <span class="arrow prev" [class.disabled]="currentIndex === 0" (click)="prevHoliday()">
                            <i class="pi pi-chevron-left"></i>
                        </span>

                        <div class="holiday-display">
                            <div class="holiday-date">{{ nearestHoliday?.date | date: 'dd MMM yyyy' }}</div>
                            <div class="holiday-name">{{ nearestHoliday?.name }}</div>
                        </div>

                        <span class="arrow next" [class.disabled]="currentIndex === holidayDates.length - 1"
                            (click)="nextHoliday()">
                            <i class="pi pi-chevron-right"></i>
                        </span>
                    </div>


                    <!-- </ng-template> -->

                    <ng-template #noHolidays>
                        <p>{{ noHolidaysMessage }}</p>
                    </ng-template>
                </div>

            </div>

            <!-- Today Birthday -->
            <!-- <ng-template #todayBirthday> -->
            <!-- <div class="box box-2">
                <h4 class="box-title">Today’s Birthdays</h4>

                <div class="empty" *ngIf="birthday.length === 0">No birthdays today</div>

                <div class="list-3" *ngIf="birthday.length > 0 && birthday.length <= 1">
                    <div class="person-chip" *ngFor="let b of birthday; trackBy: trackById">
                        <div class="name">{{ b.employeeName }}</div>
                        <div class="dept">{{ b.departmentName || '-' }}</div>
                    </div>
                </div>

    
                <p-carousel *ngIf="birthday.length > 1" [value]="birthday" [numVisible]="1" [numScroll]="1"
                    [circular]="true" [showIndicators]="true">
                    <ng-template pTemplate="item" let-item>
                        <div class="person-chip">
                            <div class="name">{{ item.employeeName }}</div>
                            <div class="dept">{{ item.departmentName || '-' }}</div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div> -->
            <!-- </ng-template> -->

            <!-- Today Work Anniversary -->
            <!-- <div class="box box-3">
                <h4 class="box-title">Work Anniversaries Today</h4>

                <div class="empty" *ngIf="anniversary.length === 0">No work anniversaries today</div>


                <div class="list-3" *ngIf="anniversary.length > 0 && anniversary.length <= 1">
                    <div class="person-chip" *ngFor="let a of anniversary">
                        <div class="name">{{ a.employeeName }}</div>
                        <div class="dept">
                            {{ a.departmentName || '-' }}
                        </div>
                    </div>

                </div>

                <p-carousel *ngIf="anniversary.length > 1" [value]="anniversary" [numVisible]="1" [numScroll]="1"
                    [circular]="true" [showIndicators]="true">
                    <ng-template pTemplate="item" let-item>
                        <div class="person-chip">
                            <div class="name">{{ item.employeeName }}</div>
                            <div class="dept">
                                {{ item.departmentName || '-' }}
                                <span *ngIf="item.years !== undefined"> · {{ item.years }} yr{{ item.years > 1 ? 's' :
                                    '' }}</span>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div> -->

            <div class="box box-2">
                <h4 class="box-title">Today’s Birthdays</h4>

                <div class="empty" *ngIf="birthday.length === 0">
                    No birthdays today
                </div>

                <div class="slider" *ngIf="birthday.length > 0">

                    <button class="arrow" (click)="prevBirthday()" [class.disabled]="currentBirthdayIndex === 0">
                        ‹
                    </button>

                    <div class="person-chip">
                        <div class="name">
                            {{ birthday[currentBirthdayIndex].employeeName }}
                        </div>
                        <div class="dept">
                            {{ birthday[currentBirthdayIndex].departmentName || '-' }}
                        </div>

                        <div class="dots" *ngIf="birthday.length > 1">
                            <span *ngFor="let b of birthday; let i = index" [class.active]="i === currentBirthdayIndex">
                            </span>
                        </div>
                    </div>

                    <button class="arrow" (click)="nextBirthday()"
                        [class.disabled]="currentBirthdayIndex === birthday.length - 1">
                        ›
                    </button>

                </div>
            </div>

            <div class="box box-3">
                <h4 class="box-title">Work Anniversaries Today</h4>

                <!-- Empty -->
                <div class="empty" *ngIf="anniversary.length === 0">
                    No work anniversaries today
                </div>

                <!-- Slider -->
                <div class="slider" *ngIf="anniversary.length > 0">

                    <!-- Left arrow -->
                    <button class="arrow" (click)="prevAnniversary()" [class.disabled]="currentAnniversaryIndex === 0">
                        ‹
                    </button>

                    <!-- Content -->
                    <div class="person-chip">
                        <div class="name">
                            {{ anniversary[currentAnniversaryIndex].employeeName }}
                        </div>
                        <div class="dept">
                            {{ anniversary[currentAnniversaryIndex].departmentName || '-' }}
                            · {{ anniversary[currentAnniversaryIndex].years }} yr
                        </div>

                        <!-- Dots -->
                        <div class="dots" *ngIf="anniversary.length > 1">
                            <span *ngFor="let a of anniversary; let i = index"
                                [class.active]="i === currentAnniversaryIndex">
                            </span>
                        </div>
                    </div>

                    <!-- Right arrow -->
                    <button class="arrow" (click)="nextAnniversary()"
                        [class.disabled]="currentAnniversaryIndex === anniversary.length - 1">
                        ›
                    </button>

                </div>
            </div>


            <div class="box box-4">
                <div class="box-title">Leave Balances</div>

                <ul class="lb-list">
                    <li class="lb-item" *ngFor="let it of leaveByTypeToday">
                        <span class="lb-name">{{ it.label }}</span>
                        <span class="lb-badge">{{ it.count }} / {{ it.total}}</span>
                    </li>
                </ul>
            </div>



        </div>
    </div>

    <div class="individual-bottom">
        <!-- Leave -->
        <!-- <div class="leave-table">
                <div>
                    <div class="header-part">
                        <div class="main-heading">Leaves
                            <i class="pi pi-info-circle info-icon"
                                pTooltip="Apply leave for personal or medical reasons. Select dates, type of leave, and submit for approval."
                                tooltipPosition="top"></i>
                        </div>
                        <div class="new-form" (click)="openLeaveForm()">
                            <div class="text">New Form</div>
                            <div><i class="pi pi-plus"></i></div>
                        </div>
                    </div>
                    <ng-container *ngIf="loading; else leaveTable">
                        <p-table [value]="[1, 2, 3, 4, 5]" [scrollable]="true" scrollHeight="600px">
  
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let h of ['Date','Status','Actions']">
                                        {{ h }}
                                    </th>
                                </tr>
                            </ng-template>
    
          
                            <ng-template pTemplate="body">
                                <tr>
                                    <td><p-skeleton width="2rem" height="1.2rem"></p-skeleton></td>
    
                                    <td><p-skeleton width="70px" height="1.5rem"></p-skeleton></td>
                                    <td><p-skeleton width="90px" height="1.5rem"></p-skeleton></td>
                                    <td><p-skeleton width="100px" height="1.5rem"></p-skeleton></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-container>
                    <ng-template #leaveTable>
                        <div class="table">
                            <p-table [value]="leave" [scrollable]="true" scrollHeight="300px" scrollDirection="vertical">
                                <ng-template #header>
                                    <tr>
                                        <th>NO</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template #body let-leave let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{rowIndex + 1}}</td>
                                        <td>
                                            <div class="dropdown-container-in-table"
                                                *ngIf="leave.dates?.length > 0; else noLeaveDates">
                                                <select class="dropdown-in-table">
                                                    <option disabled>
                                                        {{ leave.dates[0] }} — {{ leave.dates[leave.dates.length - 1] }}
                                                    </option>
                                                    <option *ngFor="let d of leave.dates" [value]="d">
                                                        {{ d }}
                                                    </option>
                                                </select>
                                            </div>
                                            <ng-template #noLeaveDates>
                                                <span>-</span>
                                            </ng-template>
                                        </td>
    
    
                                        <td><span class="status style" [ngClass]="getStatusClass(leave.status)">{{
                                                leave.status }}</span></td>
                                        <td><span class="btn style" (click)="viewLeaveDetails(leave)">See details</span>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="3" class="no-data-message">
                                            <i class="pi pi-info-circle"></i>
                                            No leave requests found.
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-template>
                </div>
    
    
            </div> -->
        <div class="leave-table">
            <div class="header-part">
                <div class="main-heading">
                    Leave Requests
                    <i class="pi pi-info-circle info-icon"
                        pTooltip="View all leave applications you have submitted, along with dates and approval status."
                        tooltipPosition="right"></i>
                </div>

                <div class="new-form" (click)="openLeaveForm()">
                    <div class="text">New Form</div>
                    <div><i class="pi pi-plus"></i></div>
                </div>
            </div>

            <div class=" leave-table-container">
                <table class="leave-normal-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let leave of leave">

                            <!-- DATE RANGE -->

                            <td>
                                <div class="dropdown-container-in-table">
                                    <div *ngIf="leave.dates?.length > 0; else noLeaveDates" class="date-range-box ">
                                        {{ leave.dates[0] }} — {{ leave.dates[leave.dates.length - 1] }}
                                    </div>

                                    <ng-template #noLeaveDates>
                                        <span>-</span>
                                    </ng-template>
                                </div>
                            </td>

                            <!-- STATUS -->
                            <td>
                                <div class="dropdown-container-in-table">
                                    <button class="status-pill" [ngClass]="getStatusClass(leave.status)">
                                        {{ leave.status }}
                                    </button>
                                </div>
                            </td>

                            <!-- ACTION -->
                            <td>
                                <div class="dropdown-container-in-table">
                                    <button class="details-btn" (click)="viewLeaveDetails(leave)">
                                        See details
                                    </button>
                                </div>
                            </td>

                        </tr>
                        <!-- EMPTY MESSAGE -->
                        <tr *ngIf="leave.length === 0">
                            <td colspan="3" class="no-data-message">
                                <i class="pi pi-info-circle"></i>
                                No Leave requests found.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="permission-table">
            <div class="header-part permission-header">
                <div class="main-heading">
                    Permission Requests
                    <i class="pi pi-info-circle info-icon"
                        pTooltip="Short-duration permissions for late arrival, early exit or partial-day absence."
                        tooltipPosition="right"></i>
                </div>

                <div class="new-form" (click)="openPermissionForm()">
                    <div class="text">New Form</div>
                    <div><i class="pi pi-plus"></i></div>
                </div>
            </div>

            <div class=" permission-table-container">

                <table class="permission-normal-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let p of permission">
                            <td>
                                <div class="dropdown-container-in-table">
                                    <div class="date-range-box-1 date-range-box">
                                        {{ p.date }}
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="dropdown-container-in-table">
                                    <button class="status-pill" [ngClass]="getStatusClass(p.status)">
                                        {{ p.status }}
                                    </button>
                                </div>
                            </td>

                            <td>
                                <div class="dropdown-container-in-table">
                                    <button class="details-btn" (click)="viewPermissionDetails(p)">
                                        See details
                                    </button>
                                </div>
                            </td>
                        </tr>

                        <!-- EMPTY MESSAGE -->
                        <tr *ngIf="permission.length === 0">
                            <td colspan="3" class="no-data-message">
                                <i class="pi pi-info-circle"></i>
                                No Permission requests found.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- 
            <div class="border"></div> -->
        <!--permission  -->
        <!-- <div class="permission-table">
                <div>
                    <div class="header-part">
                        <div class="main-heading">Permission
                            <i class="pi pi-info-circle info-icon"
                                pTooltip="Request short-term permissions (like arriving late or leaving early). Not for full-day leave."
                                tooltipPosition="top">
                            </i>
                        </div>
                        <div class="new-form" (click)="openPermissionForm()">
                            <div class="text">New Form</div>
                            <div><i class="pi pi-plus"></i></div>
                        </div>
                    </div>
                    <ng-container *ngIf="loading; else permissionTable">
                        <p-table [value]="[1, 2, 3, 4, 5]" [scrollable]="true" scrollHeight="600px">
          
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let h of ['Date','Status','Actions']">
                                        {{ h }}
                                    </th>
                                </tr>
                            </ng-template>
    
                            <ng-template pTemplate="body">
                                <tr>
                                    <td><p-skeleton width="2rem" height="1.2rem"></p-skeleton></td>
    
                                    <td><p-skeleton width="70px" height="1.5rem"></p-skeleton></td>
                                    <td><p-skeleton width="90px" height="1.5rem"></p-skeleton></td>
                                    <td><p-skeleton width="100px" height="1.5rem"></p-skeleton></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-container>
                    <ng-template #permissionTable>
                        <div class="table">
                            <p-table [value]="permission" [scrollable]="true" scrollHeight="300px"
                                scrollDirection="vertical">
                                <ng-template #header>
                                    <tr>
                                        <th>No</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template #body let-permission let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{rowIndex + 1}}</td>
                                        <td>
                                            <div class="date date-btn style">
                                                <span class="">{{ permission.date }}</span>
                                                <i class="pi pi-chevron-down"></i>
                                            </div>
                                        </td>
                                        <td><span class="status style" [ngClass]="getStatusClass(permission.status)">{{
                                                permission.status }}</span></td>
                                        <td><span class="btn style" (click)="viewPermissionDetails(permission)">See
                                                details</span></td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="3" class="no-data-message">
                                            <i class="pi pi-info-circle"></i>
                                            No Permission requests found.
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-template>
                </div>
                <div class="border"></div>
            </div> -->
    </div>



    <!-- Work From Home -->
    <!-- <div class="wfh">
            <div style="width: 100%;">
                <div class="header-part">
                    <div class="main-heading">WFH</div>
                    <div class="new-form " (click)="openWFHForm()">
                        <div class="text ">New Form</div>
                        <div><i class="pi pi-plus"></i></div>
                    </div>
                </div>

                <div class="table">
                    <p-table [value]="wfh" [scrollable]="true" scrollHeight="300px" scrollDirection="vertical">
                        <ng-template #header>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-wfh>
                            <tr>
                                <td>
                                    <div class="dropdown-container-in-table"
                                        *ngIf="wfh.dates?.length > 0; else noWfhDates">
                                        <select class="dropdown-in-table">
                                            <option disabled>
                                                {{ wfh.dates[0] }} — {{ wfh.dates[wfh.dates.length - 1] }}
                                            </option>
                                            <option *ngFor="let d of wfh.dates" [value]="d">{{ d }}</option>
                                        </select>
                                    </div>
                                    <ng-template #noWfhDates>
                                        <span>-</span>
                                    </ng-template>
                                </td>


                                <td><span class="status style" [ngClass]="getStatusClass(wfh.status)">{{
                                        wfh.status }}</span></td>
                                <td><span class="btn style" (click)="viewWFHDetails(wfh)">See details</span></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="3" class="no-data-message">
                                    <i class="pi pi-info-circle"></i>
                                    No WFH requests found.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div> -->



    <div class="test-list">
        <app-training-list [viewMode]="'individual'"></app-training-list>
    </div>

    <div class="my-test">
        <app-my-tests></app-my-tests>
    </div>




    <div class="bottom">
        <div class="grievance">
            <app-grievance-list></app-grievance-list>
        </div>

        <div class="posh">
            <app-posh-list></app-posh-list>
        </div>
    </div>


    <!-- <div class="">
        <div class="survey">
            <h1>Survey</h1>
            <app-survey-list></app-survey-list>
        </div>

        <div class="exit">
            <h1>Exit Interview</h1>
            <app-exit-interview-list></app-exit-interview-list>
        </div>
    </div> -->


</div>

<app-leave-popup *ngIf="showLeaveDetailsPopup" [showPopup]="true" [leaveData]="selectedLeaveForView"
    [isViewOnly]="leaveViewMode" [hasBackdrop]="true" (close)="closePopup()">
</app-leave-popup>


<app-permission-popup *ngIf="showPermissionPopup" [showPopup]="true" [permissionData]="selectedPermission"
    [isViewOnly]="permissionViewMode" (close)="closePopup()">
</app-permission-popup>

<!-- <app-wfh-popup *ngIf="showWFHPopup" [showPopup]="true" [wfhData]="selectedWFH" [isViewOnly]="wfhViewMode"
    [hasBackDrop]="true" (close)="closePopup()">
</app-wfh-popup> -->

<app-survey-form *ngIf="showSurveyForm" [surveyData]="selectedSurvey" (closeForm)="onSurveyFormClose()">
</app-survey-form>