.performance-container {
    /* padding:20px 30px; */
    /* background: #555555; */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: 97.5%; */
    --p-paginator-nav-button-color:white;
  }

  h2{
    color: white;
  }
  
  /* DataTable Styles */

::ng-deep .p-datatable {
    border: none;
    background: transparent;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Header Row */
  ::ng-deep .performance-container .p-datatable .p-datatable-thead > tr > th {
    background: #fff !important;
    color: #000 !important;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 20px;
    /* border-bottom: 2px solid #d9d9d9; */
    height: 60px;
    text-align: left;
    text-wrap: nowrap;
    /* border-radius: 12px; */
  }
  ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child {
    border-top-left-radius: 10px;
  }
  
  ::ng-deep .p-datatable .p-datatable-thead > tr > th:last-child {
    border-top-right-radius: 10px;
  }
  
  ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child {
    border-bottom-left-radius: 10px;
  }
  
  ::ng-deep .p-datatable .p-datatable-thead > tr > th:last-child {
    border-bottom-right-radius: 10px;
  }
  
  /* Body Rows */
  ::ng-deep .performance-container .p-datatable .p-datatable-tbody > tr > td {
    background:#000  !important;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
    color: white ;
    text-align: left;
    text-wrap: nowrap;
    border-bottom: 1px solid #727272 !important;
  }

  ::ng-deep .performance-container .p-datatable .p-datatable-body > tr > td:last-child {
    border-bottom: none !important;
  }
  
  /* Employee Name Column with Image */
  .empname {
    display: flex;
    align-items: center;
    gap: 12px;
    text-align: left;
  }

  .input {
    border: none;
    outline: none;
    padding: 6px;
    font-size: 14px;
    /* background-color: #fafafa !important; */
  }

  
  .empname img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .name {
    font-weight: 600;
    font-size: 16px;
    color: white;
  }
  
  .email {
    font-size: 12px;
    color: #a1a1a1;
  }
  
  /* Department Badge */
  .dept-badge {
    display: inline-flex;
    align-items: center;
    background-color: #b9f6ca; /* default (Design) */
    color: #004d40;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
  }
  
  /* Button */
  .btn {
    border-radius: 8px;
    border: 2px solid #c4c4c4;
    background: transparent;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
  }
  .heading {
    font-size: 24px;
    font-weight: 600;
    color: white;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    width: 250px;
    height: 44px;
    padding: 20px 16px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #9b9b9b;
    font-family: "Sofia Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    background: white;
  }
  
  .filter {
    color: #9b9b9b;
    font-size: 18px;
    font-family: "Sofia Sans";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 6px 14px;
    background-color: white !important;
    cursor: pointer;
    width: 210px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .filter {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .pi {
    font-family: "primeicons" !important;
  }
  
  
  .filter-dropdown {
    position: absolute;
    top: 45.1%; /* below the filter div */
    right: 4%;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 210px;
    margin-top: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
    padding: 0;
  }
  .filter-dropdown li {
    padding: 8px;
    cursor: pointer;
    list-style: none;
  }
  
  .filter-dropdown li:hover {
    background-color: #f0f0f0;
  }
  .new-app {
    display: flex;
    /* width: 30%; */
    /* width: 200px;
    height: 44px; */
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #194B9B;
    color: #fff;
    font-family: "Sofia Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    border: none;
  }
  /* Paginator */
  ::ng-deep .p-paginator {
    background: transparent;
    justify-content: center;
    padding: 16px 0;
    gap: 8px;
  }
  
  ::ng-deep .p-paginator-pages {
    display: flex;
    gap: 8px;
  }
  
  ::ng-deep .p-paginator .p-paginator-page {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
  }
  
  ::ng-deep .p-paginator-page.p-paginator-page-selected {
    background: #FB9C2A !important;
    color: #fff !important;
    border: none;
  }
  ::ng-deep .p-inputtext {
    width: 100%;
    color: white !important;
}
::ng-deep .p-select{
  width: 100% !important;
  background: transparent !important;
}
.info-icon {
  margin-left: 8px;
  font-size: 1rem;
  color: #bbb;
  cursor: pointer;
}
.info-icon:hover {
  color: #fff;
}
:host ::ng-deep .p-skeleton {
  background-color: #ced6d7 !important; /* Light teal background */
}

:host ::ng-deep .p-skeleton::after {
  background: linear-gradient(90deg, transparent, #787d7d, transparent) !important;
}
.tag-filed {
  background: #0041A8 !important;
  color: white !important;
}

.tag-investigation {
  background: #ffb800 !important;
  color: black !important;
}

.tag-closed {
  background: #16c784 !important;
  color: white !important;
}

.tag-rejected {
  background: #ff4d4d !important;
  color: white !important;
}

.tag-default {
  background: grey !important;
  color: white !important;
}


/* ::ng-deep .p-select, .p-multiselect {
    width: 100% !important;
} */

/* Container */
.posh-table-container {
  background: #000;
  border-radius: 14px;
  /* padding: 20px; */
  color: white;
  font-family: "Sofia Sans";
}

/* Header Area */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  gap: 8px;
  align-items: center;
}

.info-icon {
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

/* Raise Complaint Button */
.new-app {
  border-radius: 6px;
  background: #194B9B;
  color: white;
  border: none;
  padding: 10px 16px;
  /* border-radius: 8px; */
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-family: inherit;
}

/* TABLE (Individual View) */
.individual-posh-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  overflow-y: auto;
  border-radius: 12px;
  max-height: 350px;
}
.individual-posh-table thead{
  background: linear-gradient(to right, #ff89de, #ffa9c4);
  height: 50px;
}
/* Gradient Header */
.individual-posh-table thead th {
  /* background: linear-gradient(to right, #ff89de, #ffa9c4); */
  padding: 14px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: black;
}
tbody tr {
  border-bottom: 1px solid #727272;
}
 thead tr th:first-child {
  border-top-left-radius: 16px;
}

 thead tr th:last-child {
  border-top-right-radius: 16px;
}

 tbody tr:last-child td:first-child {
  border-bottom-left-radius: 16px;
}

 tbody tr:last-child td:last-child {
  border-bottom-right-radius: 16px;
}

 table tbody tr:last-child {
  border-bottom: none;
}

/* Body */
.individual-posh-table tbody tr td {
  padding: 18px;
  background: #111;
  border-bottom: 1px solid #2c2c2c;
  color: white;
}

/* Remove bottom line on last row */
.individual-posh-table tbody tr:last-child td {
  border-bottom: none;
}

/* STATUS BADGES */
.status-badge {
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}

.status-open {
  background: #0573ff;
  color: white;
}

.status-progress {
  background: #ffa200;
  color: #000;
}

.status-resolved {
  background: #28c76f;
  color: white;
}

.no-data.center-right {
  text-align: center;        /* moves text to right */
  padding-right: 2rem;      /* spacing from edge */
  color: #c5c5c5;
  font-style: italic;
  font-size: 15px;
}
::ng-deep .p-dialog{
  border-radius: 20px !important;
  background: #020403 !important;
  box-shadow: 3px 4px 100px 0 #3A1D4D !important;
  border: none !important;
  color: white !important;
}
::ng-deep .p-dialog .p-dialog-header {
  background: linear-gradient(96deg, #C160FF 0%, #E6CFFB 100%) !important;
  border-bottom: none !important;
  color: #020403;
  font-family: "Sofia Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  height: 60px !important;
}
/* ::ng-deep .p-dialog .p-button{
  background-color: transparent !important;
  border: 1px solid #FE0000 !important;
  color: #FE0000 !important;
  height: 34px !important;
  width: 34px !important;
  font-size: 10px !important;

} */
.dialog-header-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
}

.dialog-close-btn {
  background: transparent;
  color: red;
  border: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.dialog-close-btn:hover {
  background: red;
  color: white;
}


@media(max-width:767px){
  .new-app{
    padding: 6px 10px;
    font-size: 12px;
  }
  h2{
    font-size: 16px;
  }

  .performance-container{
    padding: 20px;
    width: 100%;
  }
}


@media(max-width:768px){
  .performance-container{
    width: 100%;
  }
}