<div *ngIf="!selectedSurvey" class="interview-table">
  <div class="header">
    <!-- <h2>All Surveys</h2> -->
    <div class="flex1">

      <!-- FILTER -->
      <div class="filter" id="filterButton" (click)="toggleFilterDropdown(); $event.stopPropagation()">
        <i class="pi pi-filter"></i>

        <ul id="filterDropdown" class="menu-list" *ngIf="showFilterDropdown">
          <li class="list" *ngFor="let option of filterOptions" (click)="selectFilter(option); $event.stopPropagation()"
            [ngClass]="{ 'active': selectedFilter?.value === option.value }">
            {{ option.label }}
          </li>
        </ul>
      </div>

      <!-- SEARCH -->
      <p-iconfield>
        <p-inputicon class="pi pi-search"></p-inputicon>
        <input id="searchBox" type="text" pInputText placeholder="Search" (input)="onSearch($event)" />
      </p-iconfield>

    </div>

  </div>

  <p-table [value]="filterSurveyData" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>No</th>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Assigned Date</th>
        <th>Submitted Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-survey let-i="rowIndex">
      <!-- Skeleton loader when loading -->
      <tr *ngIf="loading">
        <td><p-skeleton width="1rem"></p-skeleton></td>
        <td><p-skeleton width="5rem"></p-skeleton></td>
        <td><p-skeleton width="10rem"></p-skeleton></td>
        <td><p-skeleton width="8rem"></p-skeleton></td>
        <td><p-skeleton width="6rem"></p-skeleton></td>
        <td><p-skeleton width="4rem"></p-skeleton></td>
        <td><p-skeleton width="6rem"></p-skeleton></td>
        <td><p-skeleton width="4rem"></p-skeleton></td>
      </tr>

      <!-- Actual data rows when not loading -->
      <tr *ngIf="!loading">
        <td>{{ i + 1 }}</td>
        <td>{{ survey.employee.employeeCode }}</td>
        <td>{{ survey.employee.firstName }} {{ survey.employee.lastName }}</td>
        <td>
          <span class="dept-badge" [ngStyle]="{ backgroundColor: getDepartmentColors(survey.departmentId).badgeColor }">
            <span class="dot" [ngStyle]="{ backgroundColor: getDepartmentColors(survey.departmentId).dotColor }">
            </span>
            {{ survey.employee.Department?.name || '-' }}
          </span>
        </td>
        <td>{{ survey.date | date:'dd-MM-yyyy' }}</td>
        <td>{{ survey.submittedAt | date:'dd-MM-yyyy' }}</td>
        <td>
          <p-tag [severity]="getStatusColor(survey.status)">
            {{ survey.status }}
          </p-tag>
        <td>
          <button pButton label="View" [disabled]="survey.status !== 'SUBMITTED'"
            (click)="survey.status === 'SUBMITTED' && openSurvey(survey)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>

<div *ngIf="selectedSurvey">
  <app-survey-form [surveyData]="selectedSurvey" (closeForm)="closeSurvey()"></app-survey-form>
</div>