<div *ngIf="!selectedSurvey" class="interview-table">
    <h2>All Surveys</h2>
    <p-table [value]="surveys" [paginator]="true" [rows]="10" [loading]="loading">
      <ng-template pTemplate="header">
        <tr>
          <th>No</th>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Department</th>
          <th>Submitted Date</th>
          <th>Action</th>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="body" let-survey let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ survey.employee.employeeCode }}</td>
          <td>{{ survey.employee.firstName }} {{ survey.employee.lastName }}</td>
          <td>{{ survey.employee.Department?.name || '-' }}</td>
          <td>{{ survey.date | date:'dd-MM-yyyy' }}</td>
          <td>
            <button pButton label="View" (click)="openSurvey(survey)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
  <div *ngIf="selectedSurvey">
    <app-survey-form
      [surveyData]="selectedSurvey"
      (closeForm)="closeSurvey()"
    ></app-survey-form>
  </div>
  