.appraial-table {
    font-family: "Sofia Sans";
    /* background: white; */
    /* width: 100%;
    height: 100%; */
    padding: 50px 10px;
}

.heading-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.table {
    margin-top: 20px;
}

::ng-deep .p-datatable-table {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  font-size: 16px;
  text-transform: capitalize;
  text-wrap: nowrap;
}

.btn {
    border-radius: 8px;
    border: 2px solid #C4C4C4;
    display: flex;
    width: 108px;
    height: 34px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #fff;
    font-family: "Sofia Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
}

.empname{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-wrap: wrap;
}


.status-color {
  display: inline-flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  gap: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}


.green-color {
  background-color: #c7f9cc;
  color: #075e16;
}
.green-dot {
  background-color: #00b33c;
}

.yellow-color {
  background-color: #fff3b0;
  color: #7d6200;
}
.yellow-dot {
  background-color: #e0c300;
}

::ng-deep .p-paginator .p-paginator-page {
  width: 40px;
  height: 40px;
  line-height: 26px;
  padding: 0;
  text-align: center;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #333;
  font-weight: 600;
  font-size: 13px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

/* Active page */
::ng-deep .p-paginator .p-paginator-page.p-highlight {
  background-color: #FF5151;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

/* Optional: center paginator */
::ng-deep .p-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 1rem;
}


::ng-deep .p-datatable-thead > tr > th  {
  padding: 20px 30px;
  text-align: center;
}

::ng-deep .p-datatable-tbody > tr > td{
    padding: 20px 30px;
}



