.table {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 30px 60px;
    gap: 30px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
    background: #E8ECEF !important;
    color: black !important;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border: none !important;
    border-bottom: none;
    height: 60px;
    text-align: left;
    text-wrap: nowrap;
    /* border-radius: 12px; */
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:first-child {
    border-top-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:last-child {
    border-top-right-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:first-child {
    border-bottom-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:last-child {
    border-bottom-right-radius: 10px;
}

/* Body Rows */
::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    background: #302F31 !important;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: left;
    border: none !important;
    border-bottom: 2px solid #d9d9d9 !important;
    text-wrap: nowrap;
}
