.qb-editor {
  padding: 24px;
  --p-checkbox-checked-background:#003366;
  --p-checkbox-checked-hover-background:#003366;
  --p-checkbox-focus-border-color:#003366;
  --p-checkbox-hover-border-color:#003366;
  --p-checkbox-checked-focus-border-color:#003366;
  --p-checkbox-checked-border-color: #003366;
}
.title {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
.muted {
  color: #FB9C2A;
}

.qb-info .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-bottom: 12px;
}
/* .qb-info .row:last-child {
  grid-template-columns: 240px;
} */

.qb-questions {
  margin-top: 20px;
}
.sec-title {
  margin-bottom: 10px;
  color: white;
}

.q-block {
  /* background: #f6f8fb; */
  border-radius: 8px;
  padding: 12px 12px 12px 0;
  margin-bottom: 14px;
}
.q-row.controls {
  display: grid;
  grid-template-columns: 250px 230px 180px 100px 70px; /* +180px for Answer Type */
  gap: 20px;
  align-items: center;
  width: 100%;
}

.q-textarea {
  width: 100%;
  margin-top: 20px;
}

.options {
  margin-top: 8px;
}
.opt-item {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}
.opt-input {
  flex: 1;
  margin-top: 10px;
}
.opt-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.opt-row {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 24px;
}
.btn-preview,
.btn-save,
.btn-cancel {
  border-radius: 8px;
  background: #0062a1;
  border: none;
  display: flex;
  width: 160px;
  height: 44px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #FFF;
font-family: "Sofia Sans";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.18px;
}
.btn-save {
  border-radius: 8px;
  background: #17b226;
}

.btn-cancel {
  border-radius: 8px;
  background: #ff5151;
}

input,
.p-select,
.p-datepicker,
.p-calendar,
.p-textarea {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #c4c4c4;
  background-color: transparent;
  color: white;
}


input::placeholder,
.p-select::placeholder,
.p-datepicker::placeholder,
.p-calendar::placeholder,
.p-textarea::placeholder{
  color: white;
}

.add-btn, .remove-btn {
  border-radius: 8px;
  border: 2px solid #c4c4c4;
  display: inline-flex;
  height: 38px;
  width: 83px;
  padding: 0 16px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: white;
  font-family: "Sofia Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
  background: transparent;
}
::ng-deep .p-select-dropdown{
color: white;
}
::ng-deep .p-select-label.p-placeholder{
  color: white;
}
::ng-deep .p-select-label{
  color: white;
}

::ng-deep .p-inputnumber-input::placeholder{
  color: white;
}

.remove-btn{
  border: 1px solid red;
}



