
.card {
  background: white !important;
  box-shadow: var(--shadow, 0 8px 24px rgba(16, 24, 40, 0.06));
  border-radius: 12px;
  padding: 30px ;
  height: 720px;
}

::ng-deep .card .p-datatable-thead > tr > th{
    padding: 20px;
    text-align: center;


}

::ng-deep .card .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
    background-color: white !important;
}

.table-wrap {
  border: 1px solid var(--border, #e5e7eb);
  border-radius: 12px;
  /* background: var(--panel, #fff); */
  overflow: auto; /* horizontal scroll if needed */
  box-shadow: var(--shadow, 0 8px 24px rgba(16, 24, 40, 0.06));
}

::ng-deep .p-button{
    background-color: #0062A1;
    border-color: #0062A1;
}
.p-button:hover{
    background-color: #0062A1;
    border-color: #0062A1;
}