<div *ngIf="!selectedRequisition" class="card">
  <div class="header">
    <h2>Man Power Requisition List</h2>
    <!-- <button pButton label="Refresh" (click)="load()"></button> -->
  </div>
    <div class="table-wrap">
      <p-table [value]="requisitions" [loading]="loading"  [rows]="10" [scrollable]="true" scrollDirection="both">
        <ng-template pTemplate="header">
          <tr>
            <th>No</th>
            <th>Title</th>
            <th>Department</th>
            <th>Status</th>
            <th>Created</th>
            <th>Action</th>
          </tr>
        </ng-template>
      
        <ng-template pTemplate="body" let-row let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ row.title || row.designation }}</td>
            <td>{{ row.departmentId }}</td>
            <td>
              <p-tag [value]="row.status"
                     [severity]="row.status === 'REJECTED' ? 'danger' :
                                 row.status.includes('APPROVED') ? 'success' :
                                 'warning'"></p-tag>
            </td>
            <td>{{ row.createdAt | date:'short' }}</td>
            <td>
              <button pButton type="button" icon="pi pi-eye" label="Open"
                      (click)="onSelect(row)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
</div>
  

  <div *ngIf="selectedRequisition">
    <app-requisition-form
      [requisition]="selectedRequisition"
      (closeForm)="closeRequisition()">
    </app-requisition-form>
  </div>