<!-- <div class="app-container" *ngIf="!isLoginRoute(); else loginTemplate">
  <p-toast></p-toast>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>
<ng-template #loginTemplate>
  <app-login></app-login>
</ng-template>
<app-announcement-popup></app-announcement-popup> -->

<div class="app-container" *ngIf="!hideNavbar() && !isTestRoute() && !isCandidateTestsRoute();  else specialTemplate">
  <p-toast></p-toast>
  <app-navbar></app-navbar>
  
  
  <router-outlet></router-outlet>
</div>

<ng-template #specialTemplate>
  <ng-container *ngIf="isLoginRoute(); else testTemplate">
    <app-login></app-login>
  </ng-container>
</ng-template>

<ng-template #testTemplate>
  <router-outlet></router-outlet>
</ng-template>

<app-announcement-popup></app-announcement-popup>

<app-acknowledge-popup
*ngIf="pendingComplaint"
[visible]="popupVisible"
[complaint]="pendingComplaint"
[employeeId]="employeeId"
(close)="onPopupClosed($event)">
</app-acknowledge-popup>