/* .app-container {
  display: flex;
  height: 100%; 
  background-color: black;
  width: 1440px;
  height: 893px;
  flex-shrink: 0;
  flex-direction: column;
} */

.app-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}
.app-content {
  position: relative;
  background-color: #000;
  overflow: hidden;
}

.background-glow {
  position: absolute;
  inset: 0;
  margin: auto;
  width: clamp(500px, 70vmax, 1100px);
  height: clamp(500px, 70vmax, 1100px);
  pointer-events: none;
  z-index: 0;

  border-radius: 50%;
  background: radial-gradient(
    rgba(193, 96, 255, 0.35) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

.page-wrapper > * {
  position: relative;
  z-index: 1;
}


.announcement-bar {
  display: flex;
  align-items: center;
  /* background-color: #2d2d2d; match your dark theme */
  color: #e5e3e3;
  font-size: 14px;
  height: 28px;
  border-bottom: 1px solid #444;
  overflow: hidden;
  padding: 0 60px;
}

.label {
  flex: 0 0 auto;
  font-weight: 600;
  margin-right: 10px;
  white-space: nowrap;
  color: #ffb347; /* highlight color */
}

.scroll-wrapper {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scroll-content {
  display: inline-block;
  animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.item {
  display: inline;
  margin-right: 30px;
}
