<!-- Submenu -->
<nav class="sub-nav">
    <!-- <h2 >{{tebleHaeding}}</h2> -->
    <ul>
        <button (click)="show('list')"><li class="sub-item" [ngClass]="{ 'active': active === 'list' }" >All Resignation</li></button>
        <div class="br"></div>
       <!-- <button (click)="show('form')"> <li class="sub-item" [ngClass]="{ 'active': active === 'form' }" >My Resignation</li></button> -->
       
       <button (click)="show('exit')"> <li class="sub-item" [ngClass]="{ 'active': active === 'exit' }" >Exit Interview</li></button>
        <div class="br"></div>
       <button (click)="show('survey')"> <li class="sub-item" [ngClass]="{ 'active': active === 'survey' }" >Survey</li></button>
        <div class="br"></div>
        <button (click)="show('clearance')"> <li class="sub-item" [ngClass]="{ 'active': active === 'clearance' }" >Clearance</li></button>
    </ul>
</nav>
<!-- <div>
    <hr>
</div> -->


<div>
    <app-resignation-form *ngIf="active === 'form'"></app-resignation-form>
    <app-resignation-list *ngIf="active === 'list'"></app-resignation-list>
    <app-exit-interview-list *ngIf="active === 'exit'"></app-exit-interview-list>
    <app-survey-list *ngIf="active === 'survey'"></app-survey-list>
    <app-clearances *ngIf="active === 'clearance'"></app-clearances>
</div>  