.requisition-container {
  --p-checkbox-checked-background: #003366;
  --p-checkbox-checked-hover-background: #003366;
  --p-checkbox-focus-border-color: #003366;
  --p-checkbox-hover-border-color: #003366;
  --p-checkbox-checked-focus-border-color: #003366;
  --p-checkbox-checked-border-color: #003366;
  --p-floatlabel-focus-color:white !important;
  --p-floatlabel-on-active-background:#302F31 !important;
  
}

::ng-deep .p-inputtext,
.p-textarea,
.p-select,
.p-datepicker {
  width: 100%;
}

.field-checkbox,
.field-radiobutton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.p-float-label label i {
  margin-right: 6px;
  font-size: 0.9rem;
}

.p-float-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* When input has value or focus, PrimeNG adds .p-float-label-active */
::ng-deep .p-float-label.p-float-label-over label {
  top: -0.4rem;
  font-size: 0.75rem;
  background-color: white;
  color: var(--text-color-secondary);
}

/* Grey-out and disable pointer events */
.disabled-section {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed !important;
}

/* Optional: style for disabled signature canvases */
.disabled-canvas {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed !important;
} 


::ng-deep .p-card-body{
  padding: 20px 60px;
}
::ng-deep .p-panel ,
::ng-deep .p-panel-header{
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
  color: #fff !important;
  transition: background 0.3s ease, color 0.3s ease;
}


::ng-deep .p-card-title,
::ng-deep .p-inputtext,
::ng-deep .p-inputtext::placeholder{
  color: white !important;
}


label {
  color: white !important;
}
.p-fluid1{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


::ng-deep .p-inputtext:disabled,
::ng-deep .p-select,
::ng-deep .p-textarea,
::ng-deep .p-editor .p-editor-content .ql-editor{
  background: transparent !important;
}

::ng-deep .p-select-label,
::ng-deep .p-icon,
.p-textarea,
::ng-deep .p-editor .p-editor-content .ql-editor{
  color: white !important;
}


.btn{
  display: flex;
  flex-direction: row;
  gap: 20px;
}


::ng-deep .p-floatlabel-on.p-float-label-active label {
  transform: translateY(-0.75rem) scale(0.85);
  color: var(--primary-color) !important;
}






