.requisition-container {
  --p-checkbox-checked-background: #003366;
  --p-checkbox-checked-hover-background: #003366;
  --p-checkbox-focus-border-color: #003366;
  --p-checkbox-hover-border-color: #003366;
  --p-checkbox-checked-focus-border-color: #003366;
  --p-checkbox-checked-border-color: #003366;
  --p-floatlabel-focus-color: white !important;
  --p-floatlabel-on-active-background: #000 !important;

}

::ng-deep .p-inputtext,
.p-textarea,
.p-select,
.p-datepicker {
  width: 100%;
}

.field-checkbox,
.field-radiobutton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.p-float-label label i {
  margin-right: 6px;
  font-size: 0.9rem;
}

.p-float-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* When input has value or focus, PrimeNG adds .p-float-label-active */
::ng-deep .p-float-label.p-float-label-over label {
  top: -0.4rem;
  font-size: 0.75rem;
  background-color: white;
  color: var(--text-color-secondary);
}

/* Grey-out and disable pointer events */
.disabled-section {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed !important;
}

/* Optional: style for disabled signature canvases */
.disabled-canvas {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed !important;
}


::ng-deep .p-card-body {
  padding: 20px 60px;
}

::ng-deep .p-panel,
::ng-deep .p-panel-header {
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 100%) !important;
  color: #fff !important;
  transition: background 0.3s ease, color 0.3s ease;
}


::ng-deep .p-card-title,
::ng-deep .p-inputtext,
::ng-deep .p-inputtext::placeholder {
  color: white !important;
}

/* 
label {
  color: white !important;
} */

.p-fluid1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


::ng-deep .p-inputtext:disabled,
::ng-deep .p-select,
::ng-deep .p-textarea,
::ng-deep .p-editor .p-editor-content .ql-editor {
  background: transparent !important;
}

::ng-deep .p-select-label,
::ng-deep .p-icon,
::ng-deep .p-editor .p-editor-content .ql-editor {
  color: white !important;
}


.btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


/* ::ng-deep .p-floatlabel-on.p-float-label-active label {
  transform: translateY(-0.75rem) scale(0.85);
  color: var(--primary-color) !important;
} */
.p-floatlabel.float-active label {
  top: -0.25rem;
  font-size: 0.75rem;
  background-color: #000;
  color: var(--text-color-secondary);
}
::ng-deep .p-dialog {
  border-radius: 20px !important;
  background: #020403 !important;
  box-shadow: 3px 4px 100px 0 #3a1d4d !important;
  border: none !important;
  color: white !important;
  padding: 0 !important;
}
::ng-deep .p-dialog-content {
  padding: 0px !important;
}

::ng-deep .p-dialog .p-dialog-header {
  background: linear-gradient(96deg, #C160FF 0%, #E6CFFB 100%) !important;
  border-bottom: none !important;
  color: #020403;
  font-family: "Sofia Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  height: 70px !important;
}
.dialog-header-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
}

.dialog-close-btn {
  background: transparent;
  color: red;
  border: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.dialog-close-btn:hover {
  background: red;
  color: white;
}