.requisition-container{
    padding: 50px;
}

::ng-deep .p-inputtext, .p-textarea, .p-select ,.p-datepicker{
    width: 100%;
}


  .field-checkbox,
.field-radiobutton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.p-float-label label i {
  margin-right: 6px;
  font-size: 0.9rem;
}

.p-float-label{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* When input has value or focus, PrimeNG adds .p-float-label-active */
::ng-deep .p-float-label.p-float-label-over label {
  top: -0.40rem;
  font-size: 0.75rem;
  background-color: white;
  color: var(--text-color-secondary);
}

/* Grey-out and disable pointer events */
.disabled-section {
  opacity: 0.6;         
  pointer-events: none;  
}

/* Optional: style for disabled signature canvases */
.disabled-canvas {
  opacity: 0.5;
  pointer-events: none;
}
