.login {
    display: flex;
    flex-direction: row;
    height: 100vh;  
}

.bg-img {
    width: 100%;
    /* height: 100vh; */
    flex-shrink: 0;

}

.left-side {
    width: 50%;
    overflow: hidden;

}

.left-side-content {
    position: absolute;
    top: 30%;
    left: 10%;
}

.header-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.heading {
    color: #FFF;
    font-family: "Sofia Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 90px;
    /* 112.5% */
}

.logo {
    width: 150px;
    height: auto;
    flex-shrink: 0;
}

.logo-resp{
    display: none;
}

.main-img {
    width: 350px;
    height: auto;
    flex-shrink: 0;
}

.sub-heading {
    color: #FFF;
    font-family: "Sofia Sans";
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
}

.para {
    width: 380px;
    color: #F5F5F5;
    text-align: start;
    font-family: "Sofia Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.16px;
    margin-top: 20px;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 40px; */
    background: #FFF;
}


.right-side-heading {
    color: #242424;
    text-align: center;
    font-family: "Sofia Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 80%;
}

.right-side-heading span {
    color: #3465b0
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    /* align-items: center; */
}


input.p-inputtext {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    transition: border-color 0.3s ease;
    width: 100%;
}


input.p-inputtext:focus {
    outline: none;
    border-bottom: 2px solid #3f51b5;
    box-shadow: none !important;
}


input.ng-invalid.ng-touched {
    border-bottom: 2px solid red;
}


::ng-deep .p-password input {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    transition: border-color 0.3s ease;
    padding-left: 0.5rem;
    width: 100%;
}

::ng-deep .p-password input:focus {
    outline: none;
    border-bottom: 2px solid #3f51b5;
    box-shadow: none !important;
}

::ng-deep .p-password.ng-invalid.ng-touched input {
    border-bottom: 2px solid red;
}

::ng-deep .btn .p-button {
    width: 153px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 56px;
    background: #3465b0;
    box-shadow: 0 34px 40px -8px rgba(123, 118, 241, 0.24);
    color: #FFF;
    text-align: center;
    font-family: "Sofia Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.53px;
    border: none;
    margin-left: 18%;
}

::ng-deep .btn .p-button:hover {
    background: #3465b0;
    border: none;
    color: #FFF;
}

.icon {
    position: absolute;
    top: 75%;
    right: 0px;
}

.error-msg {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}



@media (max-width:1024px) {
    .bg-img {
        width: 100%;
        height: 100vh;
        flex-shrink: 0
    }

    .left-side-content {
        top: 30%;
        left: 5%;
    }

}

@media(max-width:1023px) {

    .left-side-content {
        top: 170px;
        left: 5%;
    }

    .sub-heading {
        font-size: 80px;
    }

    .para {
        width: 50%;
        font-size: 12px;
        line-height: 20px;
    }
}





@media (max-width:767px) {

    .left-side {
        display: none;

    }

    .right-side {
        width: auto;
        height: auto;
        margin:  20px;
        border-radius: 28.458px;
        border: 2.134px solid rgba(88, 130, 193, 0.49);
        background: rgba(88, 130, 193, 0.90);
        backdrop-filter: blur(8.893229484558105px);
        padding: 20px;
        box-shadow: 0 34px 40px -8px rgba(11, 10, 37, 0.24);
        
    }

    .right{
        background-image: url('/bg-left.png');
        width: 100% !important;
        height: 100% !important;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .heading {
        display: none;
    }

    .sub-heading {
        display: none;
    }

    .para {
        display: none;
    }
    .logo{
        display: none;
    }

    .logo-resp {
        display: block;
        width: 130px;
        height: auto;
        flex-shrink: 0;
        background: transparent;
    } 

    .form {
        margin-top: 10px;
    }

    .heading {
        font-size: 29px;
    }

    ::ng-deep .btn .p-button {
        margin-left: 13%;
    }

    .right-side-heading {
        color: white;
    }

    .right-side-heading span {
        color: white
    }




    .input {
        --p-floatlabel-on-active-background: transparent !important;
        --p-floatlabel-focus-color: white !important;
        --p-floatlabel-color: white !important;
        --p-password-icon-color: white !important;
        --p-inputtext-color: white !important;
    }






}