<div class="reset-password">
    <div class="header">
        <div class="heading">Reset Password</div>
    </div>

    <div class="password">
        <form class="form" #resetForm="ngForm" >

            <p-select [options]="employeeList" [(ngModel)]="selectedEmployee" [optionLabel]="'name'"
                placeholder="Select Employee" optionValue="employeeId" name="employee">
                <ng-template let-emp pTemplate="item">
                    {{ emp.employeeId}} - {{ emp.name }}
                </ng-template></p-select>

            <!-- New Password -->
            <div>
                <p-floatlabel variant="on">
                    <p-password [toggleMask]="true" [feedback]="false" inputId="newpassword" name="newpassword"
                        pattern="^(?=.*[A-Za-z])(?=.*\d).{6,}$" [(ngModel)]="reset.newPassword" required
                        #newPassword="ngModel" />
                    <label for="newpassword">New Password</label>
                </p-floatlabel>
                <div class="error-msg" *ngIf="showError(newPassword)">New Password is required</div>

            </div>
            <!-- Confirm Password -->
            <div>
                <p-floatlabel variant="on">
                    <p-password [toggleMask]="true" [feedback]="false" inputId="confirmPassword" name="confirmPassword"
                        pattern="^(?=.*[A-Za-z])(?=.*\d).{6,}$" required [(ngModel)]="reset.confirmPassword"
                        #conformPassword="ngModel" />
                    <label for="confirmPassword">Confirm Password</label>
                </p-floatlabel>
                <div class="error-msg" *ngIf="showError(conformPassword)">Confirm Password is required</div>
                <div class="error-msg" *ngIf="passwordMismatch()">
                    Passwords do not match
                </div>
            </div>

            <div class="btns">
                <button pButton label="Reset Password" type="submit" class="save-btn" [loading]="formSubmitted" [label]="formSubmitted ? 'Resetting Password' : 'Reset Password'" [disabled]="formSubmitted" (click)="onResetPassword(resetForm)"></button>
                <button pButton label="Clear" class="clear-btn" type="button" severity="danger"  outlined></button>
            </div>

        </form>
    </div>
</div>