.reset-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
    font-family: "Sofia Sans";
    /* height: 100vh; */
}

.heading {
    color: white
    ;
    /* font-family: "Sofia Sans"; */
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

::ng-deep .p-password-toggle-mask-icon{
    color: white !important;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btns{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.save-btn {
    background-color: #3465b0;
    color: white;
    border: none;
}

.save-btn:hover {
    background-color: #3465b0;
    border: none;
}

.error-msg {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}


::ng-deep .p-password-input{
    width: 20vw;
    color: white;
}

::ng-deep  .p-button{
    padding: 10px 40px;
}

label{
    color: white;
}


::ng-deep .p-select{
    background:transparent;
}

::ng-deep .p-select-label.p-placeholder,
::ng-deep .p-select-label {
    color: white !important;
}

::ng-deep .p-select-dropdown{
    color: white;
}

