.p-dialog .p-field {
    margin-bottom: 10px;
  }
  
  .ack-text {
    margin-top: 16px;
    font-size: 14px;
    color: #333;
  }
  
  .p-dialog-footer {
    margin-top: 20px;
  }
  ::ng-deep .p-dialog {
    border-radius: 20px !important;
    background: #020403 !important;
    box-shadow: 3px 4px 100px 0 #3a1d4d !important;
    border: none !important;
    color: white !important;
    padding: 0 !important;
  }

  
  ::ng-deep .acknowledge.p-dialog .p-dialog-header {
    /* background: linear-gradient(96deg, #C160FF 0%, #E6CFFB 100%) !important; */
    background: #020403 !important;
    border-bottom: none !important;
    color: #020403;
    font-family: "Sofia Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    height: 70px !important;
  }
  .dialog-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
  }
