<!-- Submenu -->
<nav class="sub-nav">
    <ul>
        <button><li class="sub-item" [ngClass]="{ 'active': active === 'list' }" (click)="show('list')">All Appraisal</li></button>
        <div class="br"></div>
       <button> <li class="sub-item" [ngClass]="{ 'active': active === 'form' }" (click)="show('form')">Appraisal</li></button>
    </ul>
</nav>
<!-- <div>
    <hr>
</div> -->


<div>
    <app-apprasial-form *ngIf="active === 'form'" [selectedAppraisal]="selectedAppraisal" (formSubmitted)="onFormSubmitted()"></app-apprasial-form>
    <app-appraisal-table *ngIf="active === 'list'" (editAppraisal)="onEditAppraisal($event)"></app-appraisal-table>
</div>