:host ::ng-deep .p-floatLabel {
    color: #fffdfd;
    font-size: 0.85rem;
  }

   ::ng-deep .p-card-body{
    padding: 20px 60px;
     --p-toggleswitch-checked-hover-background:#0062A1;
     --p-toggleswitch-checked-background:#0062A1;
     
   }
  
  :host ::ng-deep .p-inputtext,
  :host ::ng-deep .p-select,
  :host ::ng-deep .p-multiselect,
  :host ::ng-deep textarea,
  :host ::ng-deep .p-datepicker {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #fff;
  }
  
  :host ::ng-deep .p-inputtext:focus,
  :host ::ng-deep .p-select:focus,
  :host ::ng-deep .p-multiselect:focus,
  :host ::ng-deep textarea:focus {
    border-color: #044cb1 !important;
    box-shadow: 0 0 3px #044cb1 !important;
  }
  .p-inputtext ,
  ::ng-deep .p-icon{
    color: white !important;
  }
  
  .p-textarea {
    color: white !important;
    background: transparent !important;
    width: 100% !important;
  }
  
  ::ng-deep .p-datepicker-input,
  ::ng-deep .p-multiselect-label,
  .p-select,
  .p-inputtext::placeholder {
    color: white !important;
    background: transparent !important;
  }
  
  ::ng-deep .p-select-label{
    color: white !important;
  }

  .p-fluid .field input,
.p-fluid .field .p-select,
.p-fluid .field .p-datepicker,
.p-fluid .field .p-calendar {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #c4c4c4;
  background-color: transparent !important;

}
.trainer-table-wrapper {
  overflow-x: auto;
  background-color: transparent;
  /* border-radius: 8px; */
  /* padding: 1rem; */
}

.trainer-table {
  width: 100%;
  border-collapse: collapse;
  color: #f5f5f5;
}

.trainer-table thead {
  background: #DCDCDC;
  color: black;
  text-align: left;
}

.trainer-table th,
.trainer-table td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #FFFFFF;
}

.trainer-type {
  font-weight: bold;
  text-transform: uppercase;
}

.p-button-info {
  background-color: #2196f3;
  border: none;
}

.p-button-secondary {
  background-color: #555;
  border: none;
}

.p-button-danger.p-button-text {
  color: #f44336;
}

.p-button-success {
  background-color: #00c853;
  border: none;
}

.p-button-success:enabled:hover {
  background-color: #00e676;
}
 ::ng-deep .p-card-title{
  color: white;
}

h3{
   color: white;
}


.training-form  label{
    color: white !important;
    background-color: #302F31 !important;
  }

.button ::ng-deep.p-button {
  display: flex;
  width: 100%;
  height: 44px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #0062A1;
  border-color: #0062A1;
}
.p-floatlabel.float-active label {
  top: -0.25rem;
  font-size: 0.75rem;
  background-color: transparent;
  color: var(--text-color-secondary);
}

.p-error,
.text-danger{
  color: red;
}
::ng-deep .p-datepicker-input {
  border: none !important;
}

