.test-creator {
  max-width: 500px;
  margin-top: 20px;
}

.form-row {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-row label {
  display: block;
  margin-bottom: 5px;
  width: 45%;
  text-align: right;
  color: #7a7a7a;
  font-family: "Sofia Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-wrap: nowrap;
}

.form-row input,
.form-row select {
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #a6a6a6;
  width: 278px;
  height: 38px;
}

.form-actions {
  margin-top: 15px;
}

.btn-green {
  border-radius: 8px;
  background: #17b226;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Sofia Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

h3 {
  color: #000;
  font-family: "Sofia Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px 0;
}

.form-container {
  margin-top: 30px;
}
