.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
    font-family: "Sofia Sans";
    height: 100vh;
     --p-floatlabel-on-active-background: #000 !important;
}

.heading {
    color: white;
    /* font-family: "Sofia Sans"; */
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btns{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.error-msg {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  padding-left:10px ;
}

::ng-deep .p-password{
    width: 100% !important;
}
::ng-deep .p-password-input{
    width: 100% !important;
    color: white;
}
::ng-deep .p-inputtext {
    background: transparent;
    border: 1px solid #fff;
    color: #fff !important;
    width: 100%;
    box-shadow: none !important;
  }
  

label{
    color: white !important;
}

::ng-deep .btns .p-button{
    padding: 10px 40px;
}

::ng-deep .p-password-toggle-mask-icon {
    color: white;
}

.save-btn {
    background-color: #3465b0;
    color: white;
    border: none;
}

.save-btn:hover {
    background-color: #3465b0;
    border: none;
}