/* Backdrop */
.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Popup Container */
.popup-container {
  border-radius: 12px;
  background: #020403;
  box-shadow: 3px 4px 100px 0 #3a1d4d;
  border-radius: 12px;
  padding: 20px 50px;
  max-width: 900px;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
}

.calendar-day.blocked {
  background-color: #f5a8a8;
  color: #e6dbdb;
  pointer-events: none;
  opacity: 0.6;
}

.spinner {
  border: 3px solid #ccc;
  border-top: 3px solid #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Title */
.title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-family: "Sofia Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.title .icon {
  margin-right: 10px;
}

/* Form Rows */
.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 20px;
}

label {
  width: 120px;
  text-align: right;
  color: #fff;
  font-family: "Sofia Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.date-selectors {
  display: flex;
  gap: 20px;
}
/* Selects & Textarea */
.date-selectors select,
.form-row select {
  display: inline-flex;
  height: 38px;
  padding: 0 30px 0 12px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #a6a6a6;
  color: #fff;
  font-family: "Sofia Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.16px;
  background-color: transparent;
}

.date-selectors select option,
.form-row select option {
  color: black;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Add custom arrow */
  background-image: url("/select-down-arrow.png");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

textarea {
  width: 100%;
  height: 160px;
  border-radius: 12px;
  border: 1px solid #a6a6a6;
  color: #fff;
  font-family: "Sofia Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 18px;
  margin-left: 20px;
  background: transparent;
}

/* Calendar */
.calendar-section {
  margin-top: 20px;
}
.calendar-section p {
  color: #fff;
  font-family: "Sofia Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
  margin-bottom: 10px;
}

.calendar-header {
  margin-bottom: 10px;
}
.calendar-header span {
  color: #fff;
  padding: 0 10px;
}
.calendar-header button {
  background: transparent;
  border: 1px solid #e0e0e0;
  /* padding: 2px 8px; */
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  margin: 6px;
  transition: background 0.2s;
  width: 24px;
  height: 24px;
}

.calendar-header button:hover {
  /* background: #e0e0e0; */
  background-color: #ff4d4f;
  color: white;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}
.calendar {
  border-radius: 8px;
  background: #1f1f1f;
  /* box-shadow: 3px 4px 100px 0 rgba(58, 29, 77, 0.50); */
  padding: 16px 12px;
  width: 350px;
  height: 290px;
}
.calendar-grid div {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}
.calendar-grid div.selected {
  background: #ff5151;
  color: #fff;
}
.calendar-grid div.empty {
  visibility: hidden;
}

.sunday {
  color: #ff5151;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
button.apply {
  border-radius: 8px;
  background: #17b226;
  color: #fff;
  font-family: "Sofia Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
}
button.reset {
  border-radius: 8px;
  border: 1px solid #ff5151;
  padding: 8px 20px;
  cursor: pointer;
  color: #ff5151;
  font-family: "Sofia Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}
.leave-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-btn {
  position: relative;
  top: 10px;
  right: 0px;
  font-size: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #fff;
}
.close-btn:hover {
  color: #ff4d4f;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.overlap-warning {
  background: yellow !important;
  border: 2px solid red !important;
}

.overlap-warning .pi {
  font-size: 1.2rem;
}

.calendar-day.taken {
  background-color: #ccc;
  color: #777;
  pointer-events: none;
  cursor: not-allowed;
}

.custom-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  border-radius: 12px;
  background: #020403;
  box-shadow: 3px 4px 100px 0 #3a1d4d;
  width: 800px;
  max-width: 90%;
  height: 434px;
  text-align: center;
}

.popup-content h3 {
  margin-bottom: 15px;
  color: #fff;
  font-family: "Sofia Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.popup-content textarea {
  width: 90%;
  height: 233px;
  padding: 10px;
  color: #fff;
  font-family: "Sofia Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
  resize: none;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid #ccc;
}
.calendar.disabled {
  pointer-events: none;
  opacity: 0.6;
  filter: grayscale(0.3);
}

textarea:focus {
  border: none;
  outline: none;
}

hr {
  height: 2px;
  background: #d9d9d9 !important;
}

.popup-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: "Sofia Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
  width: 100px;
}

.btn-green {
  border-radius: 8px;
  background: #17b226;
  color: white;
}

.btn-red {
  border-radius: 8px;
  background: #ff5151;
}

@media (max-width: 500px) {
  /* Popup Container */
  .popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .popup-container {
    border-radius: 12px;
    background: #020403;
    box-shadow: 3px 4px 100px 0 #3a1d4d;
    border-radius: 12px;
    padding: 20px 0px;
    max-width: 900px;
    width: 90%;
    max-height: 70vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
  }
  .leave-container {
    flex-direction: column;
    gap: 20px;
  }
  .header-popup {
    padding: 0 20px;
  }
  label {
    font-size: 17px;
    text-align: left;
    width: 87px;
  }
  .date-selectors select,
  .form-row select {
    padding: 0 25px 0 8px;
    font-size: 14px;
  }
  .form-row {
    gap: 0px;
  }
  .form-section {
    padding: 0 20px;
  }
  .calendar{
    width: 320px;
  }
  .calendar-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  textarea{
    margin-left: 0px;
  }
}

@media (max-width: 390px) {
  .leave-container {
    flex-direction: column;
    gap: 20px;
  }
  .header-popup {
    padding: 0 20px;
  }
  label {
    font-size: 15px;
    text-align: left;
    width: 80px;
  }
  .date-selectors select,
  .form-row select {
    padding: 0 25px 0 8px;
    font-size: 12px;
  }
  .form-row {
    gap: 0px;
  }
  .form-section {
    padding: 0 10px;
  }
  .calendar{
    width: 280px;
  }
  .calendar-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .calendar{
    height: 243px;
  }
  .calendar-grid{
    gap: 0;
  }
  .calendar-grid div{
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
}

@media (max-width:330px){
  label {
    font-size: 12px;
    text-align: left;
    width: 74px;
  }
  .date-selectors{
    gap: 7px;
  }
  .date-selectors select,
  .form-row select {
    padding: 0 19px 0 11px;
    font-size: 12px;
  }
  .calendar-grid div{
    width: 32px;
    height: 32px;
    font-size: 12px;
  }
  .calendar{
    width: 240px;
    height: 230px;
  }
  .title{
    gap: 11px;
    font-size: 18px;
  }
}