.history {
  font-family: "Sofia Sans";
  padding: 0px 60px;
  background-color: transparent;

  /* Light background like screenshot */
}

.pi {
  font-family: "primeicons" !important;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

/* Search and Filter */
.flex {
  display: flex;
  align-items: center;
  gap: 16px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 5px;
}

p-iconfield {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  background: #fff !important;
  color: #9b9b9b;
  font-family: "Sofia Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
  width: 300px;
  height: 44px;
}

p-iconfield input {
  border: none;
  outline: none;
  padding: 6px;
  font-size: 14px;
  background-color: transparent !important;
}

input {
  border: none;
  outline: none;
  padding: 6px;
  font-size: 14px;
  background-color: transparent !important;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  /* width: 300px; */
  height: 44px;
  padding: 20px 16px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #9b9b9b;
  font-family: "Sofia Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  background: white;
}

.filter {
  color: #9b9b9b;
  font-size: 18px;
  font-family: "Sofia Sans";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 14px;
  background-color: white !important;
  cursor: pointer;
  width: 50px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.filter {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-dropdown {
  position: absolute;
  top: 95%;
  /* below the filter div */
  left: 0%;
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 210px;
  margin-top: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  padding: 0;
  color: black;

}

.filter-dropdown li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  list-style: none;
  font-size: 14px;
}

.filter-dropdown li:hover {
  background-color: #eee;
  border-radius: 20px;
}

.filter-dropdown li.active {
  background-color: #d0ebff;
  font-weight: bold;
  color: black;
  border-radius: 20px;
}

/* Table Container */
.table {
  /* background: #f4f6f8; */
  border-radius: 12px;
  padding: 0;
  overflow: hidden;
}

/* PrimeNG Table Overrides */
::ng-deep .p-datatable {
  border: none;
  background: transparent;
}

/* Header Row */
::ng-deep .history .p-datatable .p-datatable-thead>tr>th {
  background: #fff !important;
  color: black !important;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  border: none !important;
  border-bottom: none;
  height: 60px;
  text-align: left;
  text-wrap: nowrap;
  /* border-radius: 12px; */
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:first-child {
  border-top-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:last-child {
  border-top-right-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:first-child {
  border-bottom-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:last-child {
  border-bottom-right-radius: 10px;
}

/* Body Rows */
::ng-deep.history .p-datatable .p-datatable-tbody>tr>td {
  background: #000 !important;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: left;
  border: none !important;
  border-bottom: 2px solid #d9d9d9 !important;
  text-wrap: nowrap;
}

/* Employee Name Column with Image */
.empname {
  display: flex;
  align-items: center;
  gap: 12px;
  text-align: left;
}

.empname img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.email {
  font-size: 12px;
  color: #a1a1a1;
}

/* Department Badge */
.dept-badge {
  display: inline-flex;
  align-items: center;
  background-color: #b9f6ca;
  /* default (Design) */
  color: #004d40;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
}

/* Button */
.btn {
  border-radius: 8px;
  border: 2px solid #c4c4c4;
  background: transparent;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  cursor: pointer;
}

/* Paginator */
::ng-deep .p-paginator {
  background: transparent;
  justify-content: center;
  padding: 16px 0;
  gap: 8px;
}

::ng-deep .p-paginator-pages {
  display: flex;
  gap: 8px;
}

::ng-deep .p-paginator .p-paginator-page {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
}

::ng-deep .p-paginator-page.p-paginator-page-selected {
  background: #FB9C2A !important;
  color: #fff !important;
  border: none;
}

.mode-chip {
  /* padding: 2px 8px; */
  border-radius: 999px;
  font-size: 14px;
  height: 40px;
  max-width: 120px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.mode-chip.gen {
  background: #eef3ff;
  color: #2a54d6;
}

.mode-chip.rot {
  background: #eefbf1;
  color: #1f7a3a;
  width: 100%;
}

::ng-deep .add-btn .p-button {
  background-color: #0062A1;
  border: 1px solid #0062A1;
}

::ng-deep .add-btn .p-button:hover {
  background-color: #0062A1;
  border: 1px solid #0062A1;
}

.profile-skeleton {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.profile-avatar {
  border-radius: 50%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

:host ::ng-deep .p-skeleton {
  background-color: #ced6d7 !important; /* Light teal background */
}

:host ::ng-deep .p-skeleton::after {
  background: linear-gradient(90deg, transparent, #787d7d, transparent) !important;
}

::ng-deep .p-select {
  width: 100%;
  background-color: black !important;
  color: white !important;
}

::ng-deep .p-datepicker {
  width: 100% !important;
  background-color: black !important;
  color: white !important;
}
::ng-deep .p-datepicker input {
  background-color: black !important;
  color: white !important;
}
::ng-deep .p-multiselect {
  width: 100% !important;
  background-color: black !important;
  color: white !important;
}

::ng-deep .p-select-label, .p-multiselect-label {
  color: white !important;
}

::ng-deep .p-multiselect-label{
  color: white !important
}

::ng-deep .p-select,
.p-multiselect {
  width: 100% !important;
  color: white !important;
}
/* Placeholder for normal input fields */
::ng-deep input::placeholder {
  color: white !important;
  opacity: 0.7; /* optional */
}

/* PrimeNG Select placeholder */
::ng-deep .p-select-placeholder {
  color: white !important;
  opacity: 0.7;
}

/* PrimeNG MultiSelect placeholder */
::ng-deep .p-multiselect-label .p-placeholder {
  color: white !important;
  opacity: 0.7;
}
::ng-deep .p-dialog {
  border-radius: 20px !important;
  background: #020403 !important;
  box-shadow: 3px 4px 100px 0 #3a1d4d !important;
  border: none !important;
  color: white !important;
  padding: 0 !important;
}
::ng-deep .p-dialog-content {
  padding: 20px !important;
}

::ng-deep .p-dialog .p-dialog-header {
  background: linear-gradient(96deg, #c160ff 0%, #e6cffb 100%) !important;
  border-bottom: none !important;
  color: #020403;
  font-family: "Sofia Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  height: 70px !important;
}
.dialog-header-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
}

.dialog-close-btn {
  background: transparent;
  color: red;
  border: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
::ng-deep .p-button {
  border-radius: 6px !important;
  background: #194b9b !important;
  height: 36px !important;
  width: 120px !important;
  color: white !important;
  border: none !important;
  font-size: 16px !important;
}

.dialog-close-btn:hover {
  background: red;
  color: white;
}
.dialog-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}