<div class="history">
  <div class="header">
    <div class="heading">Employee List</div>
    <div class="flex">
      <div class="add-btn" [routerLink]="'/employee-form'">
        <!-- <p-button label="Add New Form" icon="pi pi-plus" iconPos="right" /> -->
      </div>

      <!-- Filter Selector -->
      <div class="filter" (click)="toggleFilterDropdown()">
        <i class="pi pi-filter"></i>
        <ul class="filter-dropdown" *ngIf="showFilterDropdown">
          <li class="list" *ngFor="let option of filterOptions" (click)="selectFilter(option);$event.stopPropagation()"
            [ngClass]="{ 'active': selectedFilter?.value === option.value }">
            {{ option.label }}
          </li>
        </ul>
      </div>

      <!-- Search -->
      <div class="search">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
          <path
            d="M19.25 19.25L16.0417 16.0417M15.5833 9.16667C15.5833 10.0093 15.4174 10.8437 15.0949 11.6222C14.7724 12.4007 14.2998 13.1081 13.7039 13.7039C13.1081 14.2998 12.4007 14.7724 11.6222 15.0949C10.8437 15.4174 10.0093 15.5833 9.16667 15.5833C8.32402 15.5833 7.48962 15.4174 6.71111 15.0949C5.93261 14.7724 5.22524 14.2998 4.6294 13.7039C4.03356 13.1081 3.56091 12.4007 3.23844 11.6222C2.91597 10.8437 2.75 10.0093 2.75 9.16667C2.75 7.46486 3.42604 5.83276 4.6294 4.6294C5.83276 3.42604 7.46486 2.75 9.16667 2.75C10.8685 2.75 12.5006 3.42604 13.7039 4.6294C14.9073 5.83276 15.5833 7.46486 15.5833 9.16667Z"
            stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" />
        </svg>

        <input type="text" pInputText placeholder="Search Employee" (input)="onSearch($event)" />

      </div>

      
      <!-- <div class="filter" >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M4.5 7.25H19.5M7.385 12H16.615M10.27 16.75H13.73" stroke="#9B9B9B" stroke-width="1.5"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <div>
          {{ selectedFilter?.label || 'Filter' }}
        </div>
      </div>
      <ul class="" *ngIf="showFilterDropdown">
        <li *ngFor="let option of filterOptions" (click)="selectFilter(option)">
          {{ option.label }}
        </li>
      </ul> -->
    </div>

  </div>

  <div class="table">
    <p-table class="" [value]="filteredEmployees" [paginator]="true" [rows]="10" class="custom-table">
      <ng-template #header>
        <tr>
          <th>No</th>
          <th>Employee Name</th>
          <th style="text-align: center;">Emp ID</th>
          <th>Phone Number</th>
          <th>Branch</th>
          <th>Department</th>
          <th>Role</th>
          <th>Job Title</th>
          <th>Employment Type</th>
          <th style="width: 160px;">Shift Type</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template #body let-employeeData let-rowIndex="rowIndex">
        <tr>
          <td class="t-data al">{{ rowIndex + 1 }}</td>
          <td class="empname">
            <img *ngIf="employeeData.photoUrl; else defaultPhoto" 
            [src]="employeeData.photoUrl" 
            alt="Profile" />
     
       <ng-template #defaultPhoto>
         <img src="/img.png" alt="Default Profile" />
       </ng-template>
            <div class="">
              <div class="name">{{ employeeData.firstName }} {{employeeData.lastName}}</div>
              <span class="email">{{employeeData.email}}</span>
            </div>
          </td>
          <td class="t-data al" style="text-align: center;">{{ employeeData.employeeCode }}</td>
          <td class="t-data al">{{ employeeData.phone }}</td>
          <td>{{ getBranchName(employeeData.branchId) }}</td>
          <td class="t-data al">
            <span class="dept-badge"
              [ngStyle]="{ backgroundColor: getDepartmentColors(employeeData.departmentId).badgeColor }">
              <span class="dot"
                [ngStyle]="{ backgroundColor: getDepartmentColors(employeeData.departmentId).dotColor }">
              </span>
              {{ getDepartmentName(employeeData.departmentId) }}
            </span>
          </td>
          <td>{{ getRoleName(employeeData.roleId) }}</td>
          <td class="t-data al">{{ employeeData.designation }}</td>
          <td class="t-data al">{{ employeeData.employmentType }}</td>
          <!-- <td class="t-data al">{{ getShiftName(employeeData.shiftId) }}</td> -->
          <td class="t-data al" style="width: 130px;">
            <span class="mode-chip" [ngClass]="{ gen: !isRotational(employeeData), rot: isRotational(employeeData) }">
              {{ isRotational(employeeData) ? 'Rotational' : 'General' }}
              <ng-container *ngIf="isRotational(employeeData)">
                &nbsp;– {{ getRotationalAbbrev(employeeData) }}
              </ng-container>
            </span>
          </td>


          <td>{{employeeData.employmentStatus}}</td>

          <td>
            <button class="btn" (click)="openEdit(employeeData)">See Details</button>
          </td>

        </tr>
      </ng-template>
    </p-table>

  </div>
</div>