.custom-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: 'Inter', sans-serif;
  }
  
  .popup-content {
    background: #fff;
    width: 600px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .popup-title {
    text-align: center;
    color: #000;
    font-family: "Sofia Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
  }
  
  hr {
    border: none;
    border-top: 3px solid #ddd;
    margin-bottom: 25px;
    height: 2px;
  }
  
  .form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
  }
  
  .form-group label {
    color: #7A7A7A;
    font-family: "Sofia Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 50%;
    text-align: right;
  }
  
  .form-group select,
  .form-group input[type="date"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #4F4F4F;
    font-family: "Sofia Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
    outline: none;
  }
  
  .form-group select:focus,
  .form-group input[type="date"]:focus {
    border-color: #3b82f6;
  }
  
  .full-width-textarea {
    flex-direction: column;
  }
  
  .full-width-textarea textarea {
    width: 100%;
    height: 130px;
    border-radius: 10px;
    padding: 12px;
    color: #767676;
    font-family: "Sofia Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
    border-radius: 8px;
    background: #EAEAEA;
    border: none;
    resize: none;
    outline: none;
  }
  
  .popup-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
  }
  
  .btn {
    padding: 10px 30px;
    border-radius: 6px;
    border: none;
    color: #FFF;
    font-family: "Sofia Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
    cursor: pointer;
  }
  
  .btn-green {
    background-color: #17B226;
    color: white;
  }
  
  .btn-red {
    background-color: #FF5151;
    color: white;
  }
  
  .btn-green:hover {
    background-color: #00b44b;
  }
  
  .btn-red:hover {
    background-color: #FF5151;
  }
  .form-group select,
.form-group input[type="date"],
.form-group input[type="time"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  border-radius: 8px;
border: 1px solid #A6A6A6;
}
