<div class="custom-popup" *ngIf="showPopup">
    <div class="popup-content">
        <h3 class="popup-title">Permission Request</h3>
        <hr />

        <div style="padding: 30px;">
            <div class="form-group">
                <label>Select Permission Type:</label>
                <select [(ngModel)]="permissionType">
                    <option value="">Select Type</option>
                    <option value="PERSONAL">Personal</option>
                    <option value="OFFICIAL">Official</option>
                    <option value="MEDICAL">Medical</option>
                    <option value="OTHER">Other</option>
                </select>
            </div>
    
            <div class="form-group">
                <label>Select Timing :</label>
                <select [(ngModel)]="timing" (change)="checkPermissionBalance()">
                    <option value="">Select Timing</option>
                    <!-- <option value="FULLDAY">Full Day</option> -->
                    <option value="HALFDAY">Half Day</option>
                    <option value="HOURLY">Hourly</option>
                </select>
            </div>
    
            <div class="form-group">
                <label>Select Day :</label>
                <input type="date" [(ngModel)]="day" />
            </div>
    
            <!-- Show Start/End Time only if HOURLY -->
            <div >
                <div class="form-group">
                    <label>Start Time:</label>
                    <input type="time" [(ngModel)]="startTime" />
                </div>
    
                <div class="form-group">
                    <label>End Time:</label>
                    <input type="time" [(ngModel)]="endTime" />
                </div>
            </div>
    
    
            <div class="form-group full-width-textarea">
                <textarea [(ngModel)]="reason" placeholder="Type your reason here..."></textarea>
            </div>
            <div class="form-row" *ngIf="declineReason">
                <div>
                    Reason For Decline: {{declineReason}}
                </div>
            </div>
    
            <div class="popup-actions">
                <!-- <button class="btn btn-green" *ngIf="!isViewOnly" (click)="submit()">Apply</button> -->
                <button class="btn btn-green" *ngIf="!isViewOnly" (click)="submit()" [disabled]="isLoading">
                    <span *ngIf="!isLoading">Apply</span>
                    <span *ngIf="isLoading" class="spinner"></span>
                </button>

                <button class="btn btn-red" (click)="closePopup()">Close</button>
            </div>
        </div>
    </div>
</div>