<div class="history">
    <div class="header">
        <div class="heading">Attendance History</div>
        <div class="flex">
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input type="text" pInputText placeholder="Search" (input)="onSearch($event)" />
            </p-iconfield>
            <div class="" (click)="toggleDropdown()">
                <i class="pi pi-align-center"><span class="filter">Filter</span></i>
                <ul class="menu-list" *ngIf="filterDropdown">
                    <li class="list" *ngFor="let option of filterOption"
                        (click)="selectFilter(option); $event.stopPropagation()"
                        [ngClass]="{'active': selectedFilter?.value === option.value}">{{ option.label }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="table">
        <p-table class="" [value]="filterHistoryData" [paginator]="true" [rows]="10" class="custom-table">
            <ng-template #header>
                <tr>
                    <th>No</th>
                    <th>Emp ID</th>
                    <th>Employee Name</th>
                    <th>Phone Number</th>
                    <th>Department</th>
                    <th>Job Title</th>
                    <th>Employment Type</th>
                    <th>Shift Type</th>
                    <th>Leave Details</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template #body let-historyData let-rowIndex="rowIndex">
                <tr>
                    <td class="t-data al">{{ rowIndex + 1 }}</td>
                    <td class="t-data al">{{ historyData.empId }}</td>
                    <td class="empname">
                        <img src="/img.png" alt="">
                        <div class="">
                            <div class="name">{{ historyData.empName }}</div>
                            <span class="email">{{historyData.email}}</span>
                        </div>
                    </td>
                    <td class="t-data al">{{ historyData.phoneNumber }}</td>
                    <td class="t-data al">
                        <span class="dept-badge" [ngClass]="getDeptClass(historyData.department)">
                            <span class="dot"
                                [ngStyle]="{ backgroundColor: getDotColor(historyData.department) }"></span>
                            {{ historyData.department }}
                        </span>
                    </td>

                    <td class="t-data al">{{ historyData.jobTitle }}</td>
                    <td class="t-data al">{{ historyData.empType }}</td>
                    <td class="t-data al">{{ historyData.shiftType }}</td>
                    <td class="t-data al">{{ historyData.leaveDetails }}</td>

                    <td>
                        <button class="btn">See Details</button>
                    </td>

                </tr>
            </ng-template>
        </p-table>

    </div>
</div>