.history {
    font-family: 'Sofia Sans';
    padding: 40px 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.heading {
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.table {
    margin-top: 20px;
    height: 100vh;
    overflow: scroll;
    padding: 20px;
}

.empname {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-wrap: wrap;
}

.name {
    color: #2B2B2B;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.email {
    color: #A1A1A1;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.t-data {
    color: #2B2B2B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

::ng-deep .p-datatable-table {
    border: none;
    border-radius: 12px;
    overflow: hidden;
    font-size: 16px;
    text-transform: capitalize;
    text-wrap: nowrap;
}


::ng-deep .pi-align-center {
    border-radius: 8px;
    border: 1px solid #9B9B9B;
    background: transparent;
    display: flex;
    width: 109px;
    height: 30px;
    padding: 20px 16px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #9B9B9B;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    
}

::ng-deep .p-paginator-pages{
    gap: 20px;
}



::ng-deep .p-paginator .p-paginator-page {
    width: 40px;
    height: 40px;
    line-height: 26px;
    padding: 0;
    text-align: center;
    border-radius: 8px;
    background-color: transparent;
    color: #333;
    font-weight: 600;
    font-size: 13px;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    
}

/* Active page */
::ng-deep .p-paginator-page.p-paginator-page-selected {
    background: #E9144A !important;
    color: white !important;
    border-radius: 8px;
    font-weight: bold;
}

/* Optional: center paginator */
::ng-deep .p-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 1rem;
    background: transparent;
}


::ng-deep .p-datatable-thead>tr>th {
    padding: 20px 30px;
    text-align: center;
    background: #fff;
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: sticky;
    top: 0;
    z-index: 10;


}

::ng-deep .p-datatable-tbody>tr>td {
    padding: 20px 30px;
    background: transparent;
    border-bottom: 2px solid #D9D9D9;
}


::ng-deep .p-datatable-tbody {
    overflow: auto;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:first-child {
    border-top-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:last-child {
    border-top-right-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:first-child {
    border-bottom-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th:last-child {
    border-bottom-right-radius: 10px;
}



.btn {
    border-radius: 8px;
    border: 2px solid #C4C4C4;
    display: flex;
    width: 108px;
    height: 34px;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #767676;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: transparent;
    letter-spacing: 0.14px;
}

.al {
    text-align: center;
}

.dept-badge {
    display: inline-flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
}

/* Dot style */
.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
}

/* Unique backgrounds per dept */
.design-dept {
    background-color: #b9f6ca;
    /* light green */
    color: #004d40;
}

.dev-dept {
    background-color: #bbdefb;
    /* light blue */
    color: #0d47a1;
}

.hr-dept {
    background-color: #ffe0b2;
    /* light orange */
    color: #e65100;
}

.finance-dept {
    background-color: #f3e5f5;
    /* light purple */
    color: #6a1b9a;
}

.default-dept {
    background-color: #e0e0e0;
    color: #424242;
}
.menu-list {
    position: absolute;
    top: 13%;
    left: 1100px;
    min-width: 160px;
    background: var(--surface-ground);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
    padding: 0.30rem 0.5rem;
    list-style: none;
    margin: 0;
    background: white;
}

.menu-list li {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 14px;
}


.menu-list .list:hover {
  background-color: #eee;
  border-radius: 20px;
}

.menu-list .list.active {
  background-color: #d0ebff; 
  font-weight: bold;
  color:black;
  border-radius: 20px;
}


::ng-deep .p-inputtext{
    background: transparent;
    font-family: "Sofia Sans";
}

.filter{
    font-family: "Sofia Sans";
}

