.appraisal-container {
    font-family: "Sofia Sans";
    background: transparent;
    height: auto;
    padding: 50px 50px;
}

.appraisal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading {
    color: white;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-top: 30px;
}

.sub-heading {
    color: white;
    font-feature-settings: 'salt' on, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  
}
.input-box-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.input-box-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}
.final-decision {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
} 

::ng-deep .p-inputtext {
    width: 100%;
    color: white !important;
}

::ng-deep .p-select {
    width: 100% !important;
}

::ng-deep .p-textarea {
    width: 100%;
    height: 100px;
    background-color: transparent!important;
    color: white;
}

::ng-deep .p-button {
    width: 200%;
}

::ng-deep .submit-btn .p-button-success {
    border-radius: 8px;
    background: #3465b0;
    color: #FFF;
    font-family: "Sofia Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    border: none;
}

::ng-deep .submit-btn .p-button-success:hover {
    background: #3465b0;
    color: #FFF;
    border: none;
}

::ng-deep .cancel-btn .p-button-danger {
    border-radius: 8px;
    background: #E9144A !important;
    color: #FFF;
    font-family: "Sofia Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    border: none;
}

::ng-deep .cancel-btn .p-button-danger:hover {
    background: #E9144A !important;
    color: #FFF;
    border: none;
}

::ng-deep .full-width-datepicker .p-inputtext {
  width: 100% !important;
}

::ng-deep .full-width-datepicker {
  width: 100%;
}

.error-text{
    color: #E9144A;
    
}

label{
    color: white;
}