<div class="wrap">
  <h2 class="heading">Recruiting</h2>
  <!-- Top pipeline stats -->
  <div class="stats" *ngIf="!selectedInterview()">
    <div class="stat flex" data-kind="vacancies">
      <strong class="flex">{{ stats()['vacancies'] || 0 }} <div>Vacancies</div></strong>
      <div class="info">
        <i class="pi pi-info-circle info-icon" [pTooltip]="getTooltipMessage('vacancies')" tooltipPosition="top"
          tooltipEvent="hover">
        </i>
      </div>

    </div>
    <div class="stat flex" data-kind="applicationsReceived">
      <strong class="flex">{{ stats()['applicationsReceived'] || 0 }} <div>Applications Received</div></strong>
      <div class="info">
        <i class="pi pi-info-circle info-icon" [pTooltip]="getTooltipMessage('applicationsReceived')"
          tooltipPosition="top" tooltipEvent="hover">
        </i>
      </div>
    </div>
    <div class="stat flex" data-kind="applied">
      <strong class="flex">{{ stats()['applied'] || 0 }} <div>Applied</div></strong>
      <div class="info">
        <i class="pi pi-info-circle info-icon" [pTooltip]="getTooltipMessage('applied')" tooltipPosition="top"
          tooltipEvent="hover">
        </i>
      </div>
    </div>
    <div class="stat flex" data-kind="shortlisted">
      <strong class="flex">{{ stats()['shortlisted'] || 0 }} <div>Shortlisted</div></strong>
      <div class="info">
        <i class="pi pi-info-circle info-icon" [pTooltip]="getTooltipMessage('shortlisted')" tooltipPosition="top"
          tooltipEvent="hover">
        </i>
      </div>
    </div>
    <div class="stat flex" data-kind="interviewing">
      <strong class="flex">{{ stats()['interviewing'] || 0 }} <div>In Interview Stage</div></strong>
      <div class="info">
        <i class="pi pi-info-circle info-icon" [pTooltip]="getTooltipMessage('interviewing')" tooltipPosition="top"
          tooltipEvent="hover">
        </i>
      </div>
    </div>
    <div class="stat flex" data-kind="offered">
      <strong class="flex">{{ stats()['offered'] || 0 }} <div>Offered</div></strong>
      <div class="info">
        <i class="pi pi-info-circle info-icon" [pTooltip]="getTooltipMessage('offered')" tooltipPosition="top"
          tooltipEvent="hover">
        </i>
      </div>
    </div>
    <div class="stat flex" data-kind="accepted">
      <strong class="flex">{{ stats()['accepted'] || 0 }} <div>Accepted</div></strong>
      <div class="info">
        <i class="pi pi-info-circle info-icon" [pTooltip]="getTooltipMessage('accepted')" tooltipPosition="top"
          tooltipEvent="hover">
        </i>
      </div>
    </div>
    <div class="stat flex" data-kind="offerDeclined">
      <strong class="flex">{{ stats()['offerDeclined'] || 0 }} <div>Declined</div></strong>
      <div class="info">
        <i class="pi pi-info-circle info-icon" [pTooltip]="getTooltipMessage('offerDeclined')" tooltipPosition="top"
          tooltipEvent="hover">
        </i>
      </div>
    </div>
    <div class="stat flex" data-kind="hired">
      <strong class="flex">{{ stats()['hired'] || 0 }} <div>Hired</div></strong>
      <div class="info">
        <i class="pi pi-info-circle info-icon" [pTooltip]="getTooltipMessage('hired')" tooltipPosition="top"
          tooltipEvent="hover">
        </i>
      </div>
    </div>
    <div class="stat flex" data-kind="rejected">
      <strong class="flex">{{ stats()['rejected'] || 0 }} <div>Rejected</div></strong>
      <div class="info">
        <i class="pi pi-info-circle info-icon" [pTooltip]="getTooltipMessage('rejected')" tooltipPosition="top"
          tooltipEvent="hover">
        </i>
      </div>
    </div>
  </div>


  <div *ngIf="!selectedInterview()" class="columns">
    <!-- Jobs -->

    <div class="col">
      <app-application-create>

      </app-application-create>
    </div>


    <!-- Applications -->
    <!-- <div class="col" *ngIf="selectedJob">
        <h3>Applications — {{ selectedJob.title }}</h3>
        <table class="grid">
          <thead>
            <tr>
              <th>Candidate</th><th>Status</th><th>Stage</th><th>Offer</th><th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of apps">
              <td>{{ a.candidate?.name }}<br><small>{{ a.candidate?.email }}</small></td>
              <td><span class="pill" [ngClass]="statusClass(a.status)">{{ a.status }}</span></td>
              <td>{{ a.currentStage || '—' }}</td>
              <td>{{ a.offer?.status || '—' }}</td>
              <td class="actions">
                <ng-container *ngFor="let next of allowedMoves(a.status)">
                  <button (click)="moveApp(a, next)">{{ next }}</button>
                </ng-container>

                <button *ngIf="a.status==='SHORTLISTED' || a.status==='SCREENING'" (click)="scheduleInterview(a)">
                  Schedule Interview
                </button>

                <button *ngIf="a.status==='INTERVIEWED' || a.status==='OFFERED' || a.status==='OFFER_ACCEPTED'" (click)="sendOffer(a)">
                  Send Offer
                </button>
                <button *ngIf="a.offer?.status==='SENT' || a.offer?.status==='VIEWED'" (click)="signOffer(a)">
                  Mark Signed
                </button>
                <button *ngIf="a.offer?.status && a.offer?.status!=='DECLINED' && a.offer?.status!=='SIGNED'" (click)="declineOffer(a)">
                  Decline
                </button>
                <button *ngIf="a.status==='OFFER_ACCEPTED'" (click)="markJoined(a)">Mark Joined</button>
                <button *ngIf="a.status==='OFFER_ACCEPTED' || a.status==='OFFERED'" (click)="markNoShow(a)">No-show</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
    <div class="col" *ngIf="!selectedInterview()">
      <div class="card">
        <h3>Jobs</h3>
        <div class="table-wrap">
          <table class="jobs">
            <colgroup>
              <col style="width:5%">
              <col style="width:20%">
              <col style="width:29%">
              <col style="width:14%">
            </colgroup>

            <thead>
              <tr>
                <th>No</th>
                <th>Title</th>
                <th>Dept</th>
                <th>Headcount</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <!-- Skeleton rows while loading -->
              <ng-container *ngIf="loading; else showJobs">
                <tr *ngFor="let _ of skeletonRows">
                  <td><p-skeleton width="1rem"></p-skeleton></td>
                  <td><p-skeleton width="8rem"></p-skeleton></td>
                  <td><p-skeleton width="6rem"></p-skeleton></td>
                  <td><p-skeleton width="4rem"></p-skeleton></td>
                  <td><p-skeleton width="5rem"></p-skeleton></td>
                  <td><p-skeleton width="6rem"></p-skeleton></td>
                </tr>
              </ng-container>

              <!-- Actual rows -->
              <ng-template #showJobs>
                <tr *ngFor="let j of jobs; let i = index" (click)="openJob(j)"
                  [class.active]="selectedJob?.id === j.id">
                  <td class="title">{{ i + 1 }}</td>
                  <td class="title">
                    <span class="text"
                          pTooltip="{{ j.title }}"
                          tooltipPosition="top">
                          {{ j.title && j.title.length > 10 ? (j.title | slice:0:10) + '…' : j.title }}
                    </span>
                  </td>
                  
                  <td class="left">
                    <span class="dept-badge"
                      [ngStyle]="{ backgroundColor: getDepartmentColors(j.departmentId).badgeColor }">
                      <span class="dot"
                        [ngStyle]="{ backgroundColor: getDepartmentColors(j.departmentId).dotColor }"></span>
                      {{ j.departmentName }}
                    </span>
                  </td>
                  <td class="left">{{ j.headcount }}</td>
                  <td class="left">
                    <span class="pill"
                      [ngStyle]="{ backgroundColor: getJobStatusColors(j.status).badgeColor, color: getJobStatusColors(j.status).dotColor }">
                      {{ j.status }}
                    </span>
                  </td>
                  <td class="left">
                    <p-select [options]="jobStatusOptionsFor(j)" [ngModel]="j.status"
                      (onChange)="onJobStatusChange(j, $event.value)" [style]="{ width: '7rem' }"
                      [disabled]="updatingJobId === j.id" [showClear]="false" [editable]="false" appendTo="body"
                      optionLabel="label" optionValue="value" [placeholder]="j.status">
                      <ng-template pTemplate="selectedItem">
                        <span style="color: white;"  [class.warn]="j.status !== 'OPEN'">Select Action</span>
                      </ng-template>
                      <ng-template let-opt pTemplate="item">
                        <span>{{ opt.label }}</span>
                      </ng-template>
                    </p-select>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
  <div *ngIf="!selectedInterview()" class="" style="margin-top: 2rem;">
    <app-application-status></app-application-status>
  </div>
  <div class="" *ngIf="!selectedInterview()" style="margin-top: 2rem;">
    <app-interview (evaluate)="onEvaluate($event)"></app-interview>
  </div>
  <div class="" style="margin-top: 2rem;">
    <app-candidate-eval-form id="eval-form" *ngIf="selectedInterview()" [interviewId]="selectedInterview()?.id"
      [interview]="selectedInterview()">
    </app-candidate-eval-form>
  </div>
</div>
<p-toast></p-toast>