

.question-bank {
  font-family: "Sofia Sans";
  /* padding: 40px 50px; */
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

h2 {
  display: flex;
  gap: 20px;
}

.info-icon {
  font-size: 18px;
  color: #d9d9d9;
  cursor: pointer;
}

/* ---------- TABLE ---------- */

.table-container{
  max-height: 400px;
  max-width: 100%;
  overflow: auto;
  border-radius: 16px;
}
.no-data.center-right {
  text-align: center;        /* moves text to right */
  padding-right: 2rem;      /* spacing from edge */
  color: #c5c5c5;
  font-style: italic;
  font-size: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}

thead{
  background: linear-gradient(96deg, #FED6AC 0%, #FFA090 100%);
  /* border-radius: 10px; */
}

thead th {
  /* background: transparent; */
  color: #000;
  font-family: "Sofia Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;
  padding: 16px 20px;
  height: 60px;
  text-align: left;
  white-space: nowrap;
  /* border-radius: 10px; */
}
tbody{
  background: rgba(85, 85, 85, 0.40);
}
tbody td {
  background: transparent;
  padding: 16px;
  color: #FFF;
  font-family: "Sofia Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.18px;
  border: none;
  white-space: nowrap;
}
tbody tr {
  border-bottom: 1px solid #727272;
}
 thead tr th:first-child {
  border-top-left-radius: 16px;
}

 thead tr th:last-child {
  border-top-right-radius: 16px;
}

 tbody tr:last-child td:first-child {
  border-bottom-left-radius: 16px;
}

 tbody tr:last-child td:last-child {
  border-bottom-right-radius: 16px;
}

 table tbody tr:last-child {
  border-bottom: none;
}

/* ---------- "Start" button ---------- */

.button {
  border-radius: 6px;
  background: #0B9629;
  width: 60px;
  height: 29px;
  border: none;
  color: #FFF;
  font-family: "Sofia Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.14px;
  cursor: pointer;
}

.action-cell {
  text-align: center;
}

/* ---------- Pagination ---------- */

.paginator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}

.page-btn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #fff;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.page-btn.active {
  background: #ff0000;
  color: #fff;
}

/* ---------- Skeleton ---------- */

.skeleton {
  background: #ced6d7;
  height: 20px;
  border-radius: 4px;
  animation: shine 1.2s infinite linear;
}

@keyframes shine {
  0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; }
}
