.Incident {
    /* padding: 80px 60px; */
    padding: 20px;
}

.header {
    color: white;
    font-family: "Sofia Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 20px;
}


.filter {
    color: #9b9b9b;
    font-size: 18px;
    font-family: "Sofia Sans";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 6px 14px;
    background-color: white !important;
    cursor: pointer;
    width: 50px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu-list {
    position: absolute;
    top: 48%;
    right: 222px;
    min-width: 150px;
    background: var(--surface-ground);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
    padding: 0.3rem 0.5rem;
    list-style: none;
    margin: 0;
    background: white;
}

.menu-list li {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 14px;
    color: black;
}

.menu-list .list:hover {
    background-color: #eee;
    border-radius: 20px;
}

.menu-list .list.active {
    background-color: #d0ebff;
    font-weight: bold;
    color: black;
    border-radius: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.filter-part {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}

::ng-deep .p-inputtext {
  background: white !important;
  font-family: "Sofia Sans";

}

::ng-deep .p-card-body{
    padding: 0;
}
