h3 {
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 1rem;
  }
  ul {
    padding-left: 1rem;
  }
  .dates {
    margin: 0.5rem 0 1rem;
    color: #6b7280; /* gray-500 */
    font-size: 0.85rem;
  }
  ::ng-deep .p-dialog {
    border-radius: 20px !important;
    background: #020403 !important;
    box-shadow: 3px 4px 100px 0 #3a1d4d !important;
    border: none !important;
    color: white !important;
    padding: 0px !important;
  }

  
  ::ng-deep .p-dialog .p-dialog-header {
    background: transparent !important;
    border-bottom: 1px solid white !important;
    color: white !important;
    font-family: "Sofia Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    height: 70px !important;
    text-align: center !important;
  }

  ::ng-deep .p-dialog .p-dialog-content{
    padding: 20px !important;
  }
  ::ng-deep .p-dialog .p-dialog-footer{
    padding: 20px !important;
    justify-content: center !important;
  }

  ::ng-deep  .p-button {
    background: #003366;
    border: none;
  }
  
  .p-button:hover {
    background: #003366;
    border: none;
  }