<p-dialog
  header="Important Announcement"
  [(visible)]="visible"
  [modal]="true"
  [closable]="false"
  [dismissableMask]="false"
  [style]="{ width: '600px' }"
>
  <div *ngIf="current">
    <h3>{{ current.title }}</h3>
    <div class="circular-code" *ngIf="current.circularCode">
      <small><i class="pi pi-hashtag"></i> Circular No: {{ current.circularCode }}</small>
    </div>
    <p>{{ current.body }}</p>
    <div class="dates">
      <small>
        <i class="pi pi-calendar"></i>
        Valid from:
        {{ current.startsAt | date:'dd-MM-yyyy HH:mm' }}
        <span *ngIf="current.endsAt">
          – until {{ current.endsAt | date:'dd-MM-yyyy HH:mm' }}
        </span>
      </small>
    </div>

    <div *ngIf="current.attachments?.length">
      <h4>Attachments</h4>
      <ul>
        <li *ngFor="let f of current.attachments">
          <a [href]="f.url" target="_blank">{{ f.name }}</a>
        </li>
      </ul>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button pButton type="button" label="Acknowledge" icon="pi pi-check" [loading]="isLoading" [label]="isLoading ? 'Acknowledging': 'Acknowledge'" [disabled]="isLoading" (click)="acknowledge()"></button>
  </ng-template>
</p-dialog>
