<div class="permission-request">
    <div class="header">
        <div class="heading">Permission Request</div>
        <div class="flex">
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input type="text" pInputText placeholder="Search" (input)="onSearch($event)" />
            </p-iconfield>
            <div class="" (click)="toggleDropdown()">
                <i class="pi pi-align-center"><span class="filter">Filter</span></i>
                <ul class="menu-list" *ngIf="filterDropdown">
                    <li class="list" *ngFor="let option of filterOption"
                        (click)="selectFilter(option); $event.stopPropagation()"
                        [ngClass]="{'active': selectedFilter?.value === option.value}">{{ option.label }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="table">
        <p-table class="" [value]="filterReuqusetData" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
                <tr>
                    <th>No</th>
                    <th>Employee Name</th>
                    <th>Emp ID</th>
                    <th>Department</th>
                    <th>Job Title</th>
                    <th>Perm. Date</th>
                    <th>No. Of Hours</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-requestData let-rowIndex="rowIndex">
                <tr>
                    <td class="t-data al">{{ rowIndex + 1 }}</td>
                    <td class="empname">
                        <img src="/img.png" alt="">
                        <div class="">
                            <div class="name">{{ requestData.empName }}</div>
                            <span class="email">{{requestData.email}}</span>
                        </div>
                    </td>
                    <td class="t-data al">{{ requestData.empId }}</td>
                    <td class="t-data al">
                        <span class="dept-badge"
                            [ngStyle]="{ backgroundColor: getDepartmentColors(requestData.department).badgeColor }">
                            <span class="dot"
                                [ngStyle]="{ backgroundColor: getDepartmentColors(requestData.department).dotColor }">
                            </span>
                            {{ getDepartmentName(requestData.department) }}
                        </span>
                    </td>
                    <td class="t-data al">{{ requestData.jobTitle }}</td>
                    <td class="t-data al">{{ requestData.premDate }}</td>
                    <td class="t-data al">{{ requestData.noOfHours }}</td>
                    <td><span [pTooltip]="requestData.reson" tooltipPosition="top">
                            {{ requestData.reson | slice:0:20 }}<span *ngIf="requestData.reson.length > 20">...</span>
                        </span>
                    </td>
                    <td>{{requestData.status || '-'}}</td>
                    <td>
                        <div class="btns">
                            <button class="btn-1 btn" (click)="approveRequest(requestData.id)">Accept</button>
                            <button class="btn-2 btn" (click)="openDeclineDialog(requestData.id)">Decline</button>
                            <button class="btn-3" (click)="openDetailsPopup(requestData)">Perm. Details</button>
                        </div>
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="columnCount" class="no-data-message">
                    <i class="pi pi-info-circle"></i>
                    No Permission requests found.
                  </td>
                </tr>
              </ng-template>
        </p-table>

    </div>
</div>


<!-- Decline Reason Popup -->
<div class="custom-popup" *ngIf="declineDialogVisible">
    <div class="popup-content">
        <h3>Permission Request Decline Reason</h3>
        <hr />

        <textarea placeholder="Type your reason here..." [(ngModel)]="declineReason" rows="4"></textarea>

        <div class="popup-actions">
            <button class="btn btn-green" (click)="confirmDecline()">Decline</button>
            <button class="btn btn-red" (click)="closeDeclineDialog()">Cancel</button>
        </div>
    </div>
</div>

<app-permission-popup
  *ngIf="showPopup"
  [showPopup]="true"
  [permissionData]="selectedPermission"
  [isViewOnly]="viewMode"
  (close)="closePopup()">
</app-permission-popup>
